$jshine_gradient: linear-gradient(#12c2e9, #c471ed, #f64f59);
$blues_gradient: linear-gradient(#2193b0, #6dd5ed);
$blues_gradient_2: linear-gradient(#0052D4, #4364F7, #6FB1FC);
$emerald_gradient: linear-gradient(#348F50, #56B4D3);
$stripe_gradient: linear-gradient(to right, #1FA2FF, #12D8FA, #A6FFCB);
$base_gradient: linear-gradient(to right, #72BCFF, #3D82F0);

@keyframes remove_loader {
	0% {
		top:-5%;	
		opacity:1;
		visibility:visible;
	}	
	30%{
		top:-8%;
	}
	95%{
		opacity:.9;
	}
	100% {
		top:98%;
		opacity:0;
		visibility:hidden;	
	}
}


@keyframes zoom_in {
	0% {
		top:0%;	
		opacity:1;
		visibility:visible;
	}
	30% {
		top:0%;
	}
	90%{
		opacity:.9;
	}
	99%{

	}
	100% {
		top:80%;
		// opacity:0;
		visibility:hidden;	
	}
}


@keyframes move_bg {
   0% {
     // transform: translateX(0%);
     // transform: translate(0%);
     // transform: translateY(0%);
     background-position:0% 0%;    
   }
   100% { 
   	background-position:60% -90%;
     // transform: translateX(-100%);
     // transform: translate(-100%);
     // transform: translateY(100%);
   }
}

@keyframes home_screen_out {
	0% {
		transform:scale(1);
		transform-origin:top;
		opacity:1;
		max-height:100vh;
		overflow: hidden;
		margin-left:0%;
	}
	50% {				
		opacity:.5;		
	}	
	80%{
		transform:scale(.8);
		transform-origin:top;
		opacity:.1;
		max-height:100vh;
		overflow: hidden;
		margin-left:0%;
	}	
	100% {
		transform:scale(.8);
		transform-origin:top;
		opacity:.1;
		max-height:100vh;
		overflow: hidden;
		margin-left:-100%;	
	}
}

@keyframes proper_btn_hover {
	0% {
		left:-25%;				
		width:25%;
		clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
	}	
	40%{
		left:0%;					
		width:25%;
		clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
	}		
	100% {
		left:0%;				
		width:100%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}


@keyframes show_contact_screen {
	0% {
		left:-100%;
		opacity:.3;
		transform:scale(.8);
	}	
	100% {
		left:0%;
		opacity:1;
		transform:scale(1);
	}
}

$abase: 0.6rem;

.text-content{
	p{
		margin-bottom:18px;
		&:last-child{
			margin-bottom:0;
		}
	}

	h2{
		margin-bottom:12px;
		margin-top:30px;
	}
	a:not(.link-text){
		text-decoration: underline;			
	}
}

.yotpo-modal-header{
	display:none;
}

.da-chev-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position:relative;
	height: 90px;
}

.da-chevron {
  position: absolute;
  top:0px;
  margin:auto;
  width: $abase * 3.5;
  height: $abase * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: da-move-chevron 3s ease-out infinite;
}

.da-chevron:first-child {
  animation: da-move-chevron 3s ease-out 1s infinite;
}

.da-chevron:nth-child(2) {
  animation: da-move-chevron 3s ease-out 2s infinite;
}

.da-chevron:before,
.da-chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #2c3e50;
}

.da-chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.da-chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes da-move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($abase * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($abase * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($abase * 8) scale(0.5);
 }
}

body{
	// background:#212121;
	background:#fefefe;
	height:auto !important;
	&.no-scroll{
		overflow:hidden;
	}
}

.responsive-img{
	svg{
		width:100%;
		height:auto;
	}
}

.ui-textarea{
	font-size:15px;
	&:placeholder{
		color:#555;
	}
}

.fade-in-text{
	position:relative;
	opacity:1;
	top:0px;
	transition:all .5s ease-in;
	&.faded{
		opacity:0;
		top:6px;
		transition:all .5s ease-in;
	}
}

.pre-fade{
	opacity:1;
	visibility:visible;	
	position:relative;
	transition:all .5s ease-in;
	top:0px;
}
.vis-hidden{display:none;visibility:hidden;}

.get-directions-link{
	display:block; margin-top:9px; color:blue;
}

.deck-input{
	height:46px;
}

.gen-block{
	display:block; clear:both; overflow: hidden;
}

.logo-svg-class{
	display:none;	
}

.contact-section-block{
	.message{
		h3, p{
			color:#333 !important;
		}
	}
}

.fade-out-up{
	opacity:0;
	position:relative;
	top:-42px !important;
	visibility:hidden;
	transition:all .5s ease-in;
}

#ssa-widget{
	width:100% !important;
	.ssa-leadgen-widget__input{
		width:100% !important;
	}
}

.loading-page{
	background:#212121;
	width:100%;
	z-index: 999999999999999999999999999999999999999999999999999999999999999999999999;
	left:0;
	top:-5%;
	height:110%;
	position:fixed;
	display:block;	

	&.remove{
		animation: remove_loader;
		animation-fill-mode: forwards;
		animation-duration: 1s;
	}

	.content-contain{
		width:100%;
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
	}

	.logo{
		max-width:82%;
		width:420px;
		margin:0 0 12px 0;
		display:block;
		overflow: hidden;
		// position:absolute;
		// top:0;
		// bottom:0;
		height:90px;
		left:0;right:0;
		@media(max-width:768px){			
			margin:0;
		}
	}
	p{
		color:#999;
		font-size:18px;		
		font-weight:300;		
		letter-spacing:2px;		
		@media(max-width:768px){
			max-width:70%;
			text-align:center;
			margin:0 auto;
		}
	}
	.logo svg path, .logo svg circle{
		fill:rgba(#999,0);
	}


	.logo.filled svg path{
		fill:rgba(#999,1);
		stroke-width:0 !important;
		transition:all .5s ease-in;
		box-shadow: 0 3px 18px rgba(#999,.1);
	}

}

.nav_button_container {
  position: fixed;
  z-index: 999999999999999999999;
  right: 2%;
  height: 30px;
  width: 36px;
  cursor: pointer;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(10px) translateX(0) rotate(45deg);
      background: #fff;
    }
    .middle {
      opacity: 0;
      background: #fff;      
    }
    
    .bottom {
      transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: #fff;
    }
  }
  span {
	  background: #f8f8fb;
	  border: none;
	  height: 4px;
	  width: 100%;
	  box-shadow:0 2px 12px rgba(#000, .06);
	  position: absolute;
	  top: 0;
	  left: 0;
	  transition:  all .35s ease;
	  cursor: pointer;
	    
	    &:nth-of-type(2) {
	       top: 10px;
	       width:30px;
      	   margin-left:6px;
      	   transition:all .2s ease-in;
	    }
	    
	    &:nth-of-type(3) {
	      top: 20px;
	    }
  }
  &.dark{
  	span{
  		background:#212121;
  	}
  }
  &:hover{
  	span{
  		&:nth-of-type(2) {
  			width:36px;
  			margin-left:0px;
  			transition:all .2s ease-in;
  		}
  	}
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.nav-overlay {
  position: fixed;
  //background: $theme_color;
  background-image:linear-gradient(to bottom right, #222, #000);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s, visibility .25s, height .25s;
  overflow: hidden;  
  .close{
		width:48px;
		height:48px;
		top:12px;
		right:30px;
		position:absolute;		
		display:flex;
		align-items:center;
		justify-content:center;		
		z-index: 999;
		// background:#212121;
		a{
		    color: #fff;
		    font-weight: 100;
		    font-size: 36px;
		    display: block;
		    height: 36px;
		    line-height: 26px;
		    text-align:center;
		    line-height:36px;
		    img{
		    	width:70%;
		    	height:auto;
		    }
		}
	}
	.first-nav-section, .second-nav-section{
		margin:0px auto 0 120px;
		display:block;
		text-align: left;
		.logo{
			min-height:36px;
		}
	}
	.second-nav-section{
		margin-top:48px;
	}
  .portfolio{
  	width:420px;
  	height:100%;
  	background:#333;
  	min-width:420px;
  	max-width:420px;
    	height:100%;
    	a{
    		display:block;
    		width:100%;
    		height:25%;
    		position:relative;
    		img{
    			width:100%;
    			height:100%;
    			min-height:240px;
    			object-fit:cover;
    			transition:all .2s ease-in;
    			vertical-align: bottom;
    			position:relative;
    			filter: brightness(100%);
    		}
    		.project-title{
    			position:absolute;
    			z-index: 3;
    			bottom:0;
    			left:0;
    			padding:12px;
    			opacity:0;
    			transition:all .2s ease-in;
    			h3, p{
    				font-family:$body_font;
    				color:#fff;
    			}
    		}
    		&:hover{
    			img{
    				filter: brightness(50%);
    				transition:all .2s ease-in;
    			}
    			.project-title{
    				opacity:1;
    				transition:all .2s ease-in;
    			}
    		}
    	}
    }
	  .mobile-close{
			position:absolute;
			top:30px;
			right:30px;
			width:36px;
			height:36px;
			display:none;
			overflow: hidden;
			a{
				display:block;
				overflow: hidden;
			}
			img{
				display: block;
				width:100%;
				height:auto;
			}
			@media(max-width:768px){
				display:block;
			}
		}
	.overlay-menu{
		.logo{
			height:36px;
			display:block;
			margin:0 auto 48px 0px;
			img{
				height:100%;
				width:auto;

			}
		}
	}		
  &.open {
    opacity: .96;
    visibility: visible;
    height: 100%;
    display:flex;
    .overlay-menu{
    	width:auto;
    	flex-grow:1;
    	display:flex;
    	align-items:center;
    	flex-direction:column;
    	height:100%;
    	justify-content: center;
    	.secondary-links{
	  		display:flex;
	  		width:auto;	  		
	  		a{
	  			display:block;
	  			padding:0px 36px 12px 0;
	  			color:#fff;
	  			font-size:26px;
	  			letter-spacing: 1px;
	  			line-height:26px;
	  			font-family:$heading_font;
	  			font-weight:normal;	  			
	  			text-transform: lowercase;
	  			font-style: italic;
	  			display: flex;
	  			align-items:center;
	  			&:after{
	  				margin:0 0px 0 30px;
	  				width:4px;
	  				height:4px;
	  				background:#fff;
	  				border-radius:50%;
	  				content:"";
	  				overflow: hidden;
	  			}
	  			&:last-child{
	  				&:after{
	  					display: none;
	  				}
	  			}
	  		}
	  	}
    	ul{
    		text-align: left;
			margin-bottom:48px;
			display:block;
    		&:hover{
		    	> li{
		    		a{
		    			opacity:.5;
		    			transition:all .1s ease-in;
		    		}
		    	}
		    	> li{
		    		a:hover{
		    			opacity:1;
		    			transition:all .1s ease-in;
		    		}
		    	}
		    }
    	}
    	.left{
    		width:auto;
    		margin:0;    		
    	}    	
    	.right{
    		width:auto;
    		margin:0 120px 0 auto;    		
    	}
    }
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    line-height:54px;
    font-family: $heading_font, serif;
    font-weight: bold;
    text-align: center;

  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;   
    li {
      display: block;
      // height: 25%;
      // height: calc(100% / 4);
      min-height: 36px;
      height:auto;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        padding:18px 0;
        line-height:30px;
        font-size:30px;
        position: relative;
        color: #f8f8fb;
        text-decoration: none;
        font-weight:500;
        overflow: hidden;        
         &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 2px;
          background: #f8f8fb;
          transition: .35s;
        }
      }
    }

  }
  @media(max-width:1280px){
	&.open{
		display:block;
		.overlay-menu{
			order:0;
			width:100%;
			align-items:flex-start;
			clear:both;
			display:flex;
			height:100%;
			width:100%;
			.first-nav-section{
				margin-right:auto;
			}
			.second-nav-section{margin-right:0;}
		}
	}
	.portfolio{
		order:1;
		display:none;
		// flex-direction:row;
		// width:100%;
		// max-width:100%;
		// min-width:100%;
		// height:250px;
		// max-height:250px;
		.item{
			width:25%;
			height:100%;
		}
	}
	
  }
  @media(max-width:960px){
	.secondary-links{
		flex-wrap:wrap;
		a{
			white-space:nowrap;
		}
	}
  }
  @media(max-height: 690px){
	.portfolio{
		.item{
			height:33.33333%;
		}
		.item:nth-child(4){
			display:none;
		}
	}
	.overlay-menu{

		ul{
			li{
				a{
					padding:15px 0;
					font-size:25px;
				}
			}
		}
	}
  }
  @media(max-width:768px){
  	nav{
		ul{
			max-width:90%;
			margin:0 auto;
			li{
				text-align:left;
				a{
					font-size:20px;
					padding:9px 0;
					line-height:36px;
				}
			}
		}
  	}
  }
}

.page-body{
	@media(max-width:768px){
		margin-top:60px
	}
}

.download-cta-container{
	border-radius:3px;
	overflow: hidden;
	.text.center{
		padding:30px;
	}
}

.page-logo{
	width:240px;
	height:auto;
	display:block;
	padding-top:34px;
	margin:0 auto 0;
	position:fixed;
	left:calc(0% + 0px);
	right:0;
	top:0px;
	z-index: 99999999999999999999999999999999999;
	will-change: opacity;
	transition:all .2s ease-in;
	svg{
		filter:drop-shadow(0 2px 4px rgba(0, 0, 0, .06));
		display:block !important;
		
	}
	&.color{
			svg path, svg circle {
				fill:rgba(#212121,1);
			}
		}
	 svg path,  svg circle{
		fill:rgba(#fff,1);
		stroke-width:0 !important;
		box-shadow:0 2px 4px rgba(#000, .1);
		// filter:drop-shadow(0 2px 4px rgba(0, 0, 0, .18));
	}
	svg circle{
		stroke-width:0 !important;
	}
	svg path{
		fill:rgba(#fff,1);
		stroke-width:0 !important;
		transition:all .5s ease-in;
		// box-shadow: 0 3px 18px rgba(#999,.1);
		// box-shadow:0 2px 4px rgba(#000, .06);
	}
	&.moved{		
		padding:0;
		// left:30px;
		// right:auto;
		top:-100px;
		opacity:1 !important;
		transition:all .5s ease-in;
		&.in-view{
			left:30px;
			right:auto;
			top:30px;
			transition:all .5s ease-in;
		}
	}
	&.dark{
		svg{
			filter:drop-shadow(0 2px 4px rgba(0, 0, 0, 0));	
		}
		svg path,  svg circle{
			fill:rgba(#212121,1);
			stroke-width:0 !important;
			box-shadow:0 2px 4px rgba(#000, 0);
			// filter:drop-shadow(0 2px 4px rgba(0, 0, 0, .18));
		}
	}
	@media(max-width:768px){
		display:none !important;
		&.moved.in-view{
			top:20px;
		}
	}
}

.nav-float{
	width:720px;
	display:inline-flex;
	position:fixed;
	z-index: 9999999999999999999999999;		
	// z-index: 9999;		
	right:30px;		
	margin:auto;
	top:-100px;
	height:36px;
	align-items:center;
	justify-content:flex-end;
	transition:all .8s ease-in;
	#nav_toggle{
		top:-50px;
		transition:all .4s ease-in;		
	}		
	a{
		color:#fff;
		font-size:14px;
		font-weight:300;
		letter-spacing:2px;
		text-transform:uppercase;
		text-shadow:0 2px 4px rgba(#000, .06);
		margin:0 12px;
	}
	&.color{
		a{
			color:#212121;
		}
	}
	&.active{
		top:30px;
		transition:all .8s ease-in;
		#nav_toggle{
			top:24px;
			transition:all .4s ease-in;
		}
	}
	@media(max-width:768px){
		display:none !important;
		&.active{
			background:#212121;
		}
	}
}


.slick-next, .slick-prev{
	display:flex !important;
	align-items:center;
	justify-content:center;
	&:before{
		height:35px;
		color:#fff;		
		font-weight:bold;
		font-size:30px;				
		display:flex;
		width:30px;			
		align-items:center;
		justify-content:center;
	}	
	&:hover{
		// background:#fff;		
		&:before{
			// color:$theme_green;
			color:$theme_color;
		}
	}

}

.slick-next{
	&:before{
		font-size:42px;
		content:"\25B8";		
		margin-top:-6px;
	}	
	&:hover{
		&:before{
			font-size:42px;
			content:"\25B8";
		}	
	}
}

.slick-prev{
	&:before{
		content:"\25B8";
		font-size:42px;
		transform:rotate(180deg);		
		margin-top:6px;		
	}	
	&:hover{
		&:before{
			content:"\25B8";
			transform:rotate(180deg);		
		}	
	}
}

.proper-btn{
	padding:18px 18px;
	display:inline-block;
	border-radius:2px;
	overflow: hidden;
	text-transform:uppercase;
	font-family:$body_font;
	outline:0;
	font-weight:500;
	font-size:13px;
	letter-spacing:1px;
	border:0;
	position:relative;

	&:before{
		position:absolute;
		content:'';
		left:-25%;
		top:0;
		background-image:linear-gradient(rgba(#fff, .2),rgba(#fff, .03),rgba(#fff, .12));
		width:25%;
		height:100%;
		// transform:rotate(45deg);
		clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
	}
	&.white{
		background:$theme_light;
		color:$base_color;
	}

	&.blue{
		background:$theme_blue;
		color:$theme_light;
	}
	&.primary{
		// background:$theme_color;
		background-image:$pn_blue_gradient;
		color:#fff;
	}
	&.dark_blue{
		background:rgba(52,73,94, 1);
		color:$theme_light;
	}
	&.fluid{
		width:100%;
	}
	&:hover{
		&:before{
			animation: proper_btn_hover;
			animation-fill-mode: forwards;
			animation-delay:.1s;
			animation-duration: 1s;
		}	
	}
}

.home-blog{
	.container{
		position:relative;
		z-index: 9;
	}
	.articles{
		display:grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 18px;
		.article{
			width:100%;
			height:100%;			
			background:#fff;
			box-shadow:0 2px 4px rgba(#000, .1);
			img{
				width:100%;
				height:auto;
				vertical-align: bottom;
			}
			.content{
				padding:24px;
				.article-title{
					font-family:$body_font;
					font-weight:bold;
					font-size:16px;
					letter-spacing:1px;
					line-height:18px;
					margin-bottom:12px;
					display:block;
				}
				p{
					font-size:13px;
					line-height:16px;
				}
			}
		}
	}
}

.home-body-content{
	background:#fdfdfd;
	h1{
		position:relative;
		font-size:90px;
		line-height:90px;
		z-index: 2;
		&:before{
			z-index: -1;	
			background:#f4f4f8;
			position:absolute;
			width:180px;
			content:"";
			left:-90px;
			top:0;
			bottom:0;
			margin:auto;
			height:234px;
			display:block;
			overflow: hidden;
		}
	}
	.subtitle{
		display:block;
		clear:both;
		width:100%;
		margin-top:60px;		
		h4{
			font-size:30px;
			font-style:italic;
			line-height:36px;
		}
	}

	h2, h3, h4, h5, h6{
		font-family:$body_font;
		font-size:24px;
		font-weight:bold;
		letter-spacing: 2px;
		margin-top:60px;

		&:after{
			display:block;
			clear:both;
			width:60px;
			left:0px;
			content:"";
			position:relative;
			height:3px;
			margin:24px 0;			
			background:#e2e2e2;
		}
	}
	@media(max-width:1140px){
		h1{
			font-size:66px;
			line-height:72px;
			&:before{
				height:180px;
			}
		}
	}
	@media(max-width:960px){
		h1{
			font-size:48px;
			line-height:54px;
			&:before{
				display:none;
			}
		}
	}
}

.contact-screen{
	width:100%;
	height:100%;
	position:fixed;
	background:$theme_light;	
	top:0;
	z-index:99999999999999999999;
	left:-150%;
	transition:all .2s ease-in;
	.close{
		width:60px;
		height:60px;
		position:absolute;
		top:0;
		display:flex;
		align-items:center;
		justify-content:center;
		right:0;
		z-index: 999;
		background:#212121;
		a{
		    color: #fff;
		    font-weight: 100;
		    font-size: 36px;
		    display: block;
		    height: 36px;
		    line-height: 26px;
		    text-align:center;
		    line-height:36px;
		    img{
		    	width:70%;
		    	height:auto;
		    }
		}
	}
	&.active{
		animation: show_contact_screen;
		animation-fill-mode: forwards;
		animation-delay:.2s;
		animation-duration: 1s;
	}
	.row{
		width:100%;
		.contact-form{
			height:auto;
			width:100%;
			background:#fff;
			box-shadow:0 3px 6px rgba(#000, .06);
			padding:30px;		
		}
	}
	@media(max-width:768px){
		a{
			color:blue;
			text-decoration:underline;
		}
		.container{
			.row{
				display:block !important; 
				.contact-form-side{
					display:none;
				}
			}
		}
	}
}

.ui-input-group{
	margin-top:9px;
	&:first-of-type{
		margin-top:0;
	}
}

.ui-input{
	border:1px solid #e0e0e0;
	border-radius:2px;
}

.ui-textarea{
	border:1px solid #e0e0e0;
	border-radius:2px;
	max-height:180px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 27px;
  height: 52px;
  margin-left: -20px;
  top: 10%;
  margin-top: 0px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: -4px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

.mobile-hide{
	@media (max-width:960px) {
		display:none;
	}
}

.home.mobile{
	width:100%;
	margin:0 auto;		
	.title-area{
		min-width:0;
		width:90%;
		margin:0 auto;
		padding:0;
	}
	.first-section{
		// background:$theme_blue;
		// background-image:$blues_gradient;
		background-image:linear-gradient(to right, #72BCFF, #3D82F0);
		position:relative;
		height:auto;
		z-index: 1;
		padding:42px 0;
		&:before{
			position:absolute;
			z-index: 2;
			width:100%;
			height:100%;
			left:0;
			top:0;
			background-image:linear-gradient(to bottom right, rgba(#fff,.25), rgba(#fff,0)); 
			content:"";			
		}
		.line-contain{
			position:absolute;
			height:95%;
			display:none;
			width:92%;
			&:after, &:before{
				display:none;
			}
		}
		.title-area{
			position:relative;
			top:0px;
			width:100%;
			height:auto;
		}
		.container{
			height:100% !important;
			position:relative;
			z-index: 3;
			justify-content:center;			
		}
	}
	.page-title{
		font-size:42px;
		line-height:46px;
	}
	.page-title-medium{
		font-size:30px;
		line-height:34px;
	}
	.page-title-small{
		font-size:24px;
		line-height:28px;
	}
	.second-section{
		height:auto;
		padding:120px 0 18px;		
		// background:$theme_orange;
		background-image:linear-gradient(to left, #232526, #414345);
		.title-area{
			margin-bottom:60px;
			position:relative;
			display:block;
			overflow: hidden;
			width:100%;
			max-width:100%;
			h2{
				text-shadow:0 2px 4px rgba(#000, .06);
			}
			.text-item{
				width:80%;
			}
		}
		.content-area{
			flex-direction:column;
			.title-area{
				order:0;
				float:none;
				clear:both;
				width:100%;
				max-width:100%;
				position:relative;				
				margin-bottom:18px;
				h2{
					text-align:center;
				}
			}
			.work-grid{
				position:relative;
				float:none;
				clear:both;
				order:1;
				width:100%;
				max-width:100%;
			}
		}
		.work-grid{
			height:auto;			
			ul{
				height:auto;
				display:block;
				overflow: hidden;
				li{
					background:transparent;
					min-width:92%;
					max-width:92%;
					margin:18px auto 0;
					float:none;
					box-shadow:0 2px 4px rgba(#000, .06);
					a{
						img{
							vertical-align:bottom;
						}
					}
				}
			}
		}

	}
	.third-section{
		background-image:linear-gradient(to right, #72BCFF, #3D82F0);
		height:auto;
		padding:60px 0;
		display:block;
		.container{
			margin:0 auto !important;
		}
		.contents{
			display:block;
		}
		.graphic-area{
			width:90%;
			height:auto;
			max-width:90%;
			min-height:0;
			float:none;
			margin:24px auto 0;
			min-width:0%;
			max-height:1000000%;
			img{
				margin-bottom:18px;
				position:relative;
			}
		}

	}
	.fourth-section{
		clip-path:initial;
		height:auto;
		padding:60px 0;
		height:auto;
		min-height:0;
		display:block;
		background:$base_color;
		overflow: hidden;
		background-image:url('../images/');
		position:relative;
		z-index: 1;

		.container{
			width:90%;
			display:block;
			min-width:0;
			position:relative;
			z-index: 9;
			.title-area{
				width:100%;				
			    position: relative;
			    display: block;
			    clear: both;
				h3, h2, p{
					width:90%;
					margin:0 auto;
				}
				p{
					font-size: 16px;
    				margin: 12px auto 24px;
				}
			}
			.contents-container{
				width:100%;
				display:block;
				min-width:0%;
				position:relative;
				.graphic-area{
					display:flex;
					width:100%;
					max-width:100%;
				}
				.contents{
					display:flex;
					align-items:center;
					flex-direction:column;
					.graphic-area{
						width:90%;
						position:relative;
						left:0%;
						padding:0;
						margin:0 auto;
						.iphone{
							width:100%;
							max-width:100%;
							min-width:100%;
						}
					}
					.links{
						width:100%;
						margin-top:24px;
						a{
							margin:0;
							font-size:13px;
							width:100%;
							text-align:center;
						}						
					}
				}
			}
		}
	}
	.branding-section{
		height:auto;
		.content-area{
			display:flex;
			flex-direction:column;
			.branding-image{
				order:1;
				height:auto;
			}
			.content-block{
				order:0;
				max-width:90%;
				min-width:0;
				margin:0 auto;
			}
		}
	}
	.fifth-section{
		clip-path:initial;
		top:0;
		margin:0;
		height:auto;
		min-height:0;
		padding:0;
		background-image:linear-gradient(to right, #72BCFF, #3D82F0);
		.bg{
			width:100%;
			height:100%;
		}
		.container{
			margin:60px 0 80px;
			.contents{
				padding:0;
			}
		}
	}
	.seventh-section{
		height:auto;
		.contact-form{
			padding:12px;
			margin:24px 0;
		}
	}
	.sixth-section{
		padding:60px 0;
		background:$theme_light;
		.contact-form{
			// box-shadow:0 12px 36px rgba(#000, .1);
			padding:24px;
		}
		.brand-logos{		
			width:60%;
			margin:0 auto;
			.slick-prev, .slick-next{
				width:40px;
				height:40px;
				background:#fff;
				&:before{
					color:$theme_light;
					font-weight:bold;
				}
			}
			a, div{
				width:100%;
				display:block;
				overflow: hidden;
				text-align:center;
				img{
					width: auto;
				    height: 42px;
				    object-fit: contain;
				    margin:0 auto;
				    max-width: 100%;
				}
			}
	
		}
	}
	.fluid{
		width:100%;
	}
}

.featured-case-study{
	background-size:cover;
	padding:90px 0 120px;
	display:block;
	background-attachment: fixed;
	overflow: hidden;
	width:100%;	
	position:relative;
	z-index: 1;
	&:before{
		z-index: 2;
		// background-image:$blues_gradient;
		background-color:#222;
		position:absolute;
		opacity:.82;
		left:0;
		top:0;
		width:100%;
		height:100%;
		content:"";
	}
	.text-contents{
		width:40%;
		max-width:40%;
		min-width:40%;
		margin-right:auto;
	}
	.featured-image{
		width:58%;
		max-width:58%;
		min-width:58%;
		a, img{
			display:block;
			width:100%;
			height:auto;
		}
	}
	.case-study-pre-head{
		font-size:22px;
		text-transform: lowercase;
		margin-bottom:42px;
		letter-spacing: 1px;
		display:flex;
		align-items:center;
		margin:0 auto;
		font-weight:400;
		font-family:$italic_font;
		font-style:italic;		
		margin-bottom:12px;		
		&:after{
			margin-bottom:5px;
			content:"";
			display:inline-block;
			
			width:60px;
			margin-left:12px;
			height:1px;
			background:#fff;
		}
		
	}
	.short-title{
		font-size:28px;
		font-weight:bold;
		line-height:34px;
		font-style:italic;		
		max-width:90%;
		letter-spacing:.5px;
		margin:60px auto 18px 0;
	}
	.section-title-xl{		
		font-family: $body_font;
		max-width:100%;
		font-weight:bold;
		line-height:48px;
		font-size:42px;				
		margin:12px auto 12px;
		@media(max-width:1024px){
			max-width:100%;
		}
	}

	.text{
		margin-top:12px;
		max-width:90%;
		margin:0 auto 60px 0;
		@media(max-width:1024px){
			max-width:100%;
		}
	}
	.big-container, .container{
		position:relative;
		z-index: 3;
	}
	h2,h3,h4, p{
		color:#fff;
		text-shadow: 0 2px 4px rgba(#000, .06);
	}
	@media(max-width:1340px){
		.section-title-xl {
			font-size:30px;
			line-height:36px;
			margin-bottom:24px;
		}
		.short-title{
			margin-top:18px;
			font-size:20px;
			line-height:24px;
		}
	}
	@media(max-width:1100px){
		.big-container{
			display:flex;
			flex-direction:column;
			justify-content: center;
			align-items: center;
			.featured-image{
				order:0;
			}
			.text-contents{
				order:1;
				text-align:center;
				width:60%;
				max-width:60%;
				min-width:60%;
				margin:0 auto;
			}
		}
		.short-title{
			margin-top:24px;
			font-size:24px;
			line-height:30px;
		}
		.case-study-pre-head{
			margin:42px auto 12px;
			text-align:center;
			justify-content: center;
			&:before{
				margin-bottom:5px;
				content:"";
				display:inline-block;
				
				width:60px;
				margin-right:12px;
				height:1px;
				background:#fff;
			}
		}
		.section-title-xl {
			font-size:30px;
			line-height:36px;
			margin-bottom:24px;
		}
		.short-title{
			margin-top:18px;
			font-size:20px;
			line-height:24px;
		}
	}
	@media(max-width:960px){
		.featured-image{
			width:75%;
			max-width:75%;
		}
	}
	@media(max-width:768px){
		.featured-image{
			width:90%;
			max-width:90%;
		}

		.section-title-xl{
			font-size:24px;
			line-height:30px;
		}
		  .big-container .text-contents{
		  	width:100%;
		  	max-width:100%;
		  }
	}
}

.case-study-screen{
	@extend .contact-screen;
	.left-side{
		background-image:linear-gradient(to bottom right, #fff, #f0f0f0);
		height:100%;
		display:flex;
		align-items:center;
		justify-content:center;
		//background:$theme_green;
		background:$theme_color;
		position:relative;
		.close{
			position:absolute;
			top:0;
			left:0;
			background:#fafafb;
			a{
				// color:$theme_green;
				color:$theme_color;
				font-weight:bold;
			}
		}
		.contents{
			width:75%;
			margin:0 auto;
			height:75%;
			display:flex;
			flex-direction:column;
			h2, h3{
				color:#fafafb;
			}
			.breadcrumbs{
				font-family:$body_font;
				font-size:12px;
				text-transform:uppercase;
				letter-spacing:.5px;
				margin-bottom:0px;
				display:block;
				color:#fafafb;
				overflow: hidden;
				margin-top:auto;
				margin-bottom:5%;
				font-weight:lighter;
				p{
					font-weight:bold;
					font-size:14px;
					line-height:16px;
					display:block;
					color:#fff;
				}
			}
			.top-breadcrumbs{
				font-family:$body_font;
				font-size:12px;
				text-transform:uppercase;
				letter-spacing:.5px;
				margin-bottom:0px;
				display:block;
				color:#fafafb;
				overflow: hidden;
				margin-top:0;
				margin-bottom:auto;
				font-weight:lighter;
				p{			
					font-weight:bold;
					font-size:14px;
					line-height:16px;
					display:block;
					color:#fff;		
					&:before{
						float:left;display:block;
						height:14px;
						width:14px;			
						border-radius:50%;			
						background:#fff;
						margin-right:6px;
						content:"";
						overflow: hidden;
					}					
				}
			}
			.description{
				margin-top:42px;
				display:block;
				overflow: hidden;
				width:100%;
				p{
					display:block;
					overflow: hidden;
					color:#fafafb;
					margin-bottom:24px;
					line-height:24px;	
					font-size:14px;				
				}
			}
		}
	}
	.message .text{
		h3, p{
			color:#333 !important;
		}
	}
	.right-side{
		height:100%;
		overflow:hidden;
		background:$theme_light;
		position:relative;
		.images{		
			max-width:100%;
			display:block;
			// flex-direction:row;
			// flex-wrap:wrap;
			// flex-grow:1;
			margin:12px;		
			margin-top:24px;	
			overflow:hidden;
			height:calc(100% - 70px);			
			overflow-y:scroll;				
			img{
				margin-bottom:12px;
				// box-shadow:0 6px 24px rgba(#000, .1);
				display:block;
				width:49%;				
				height:auto;
				&:nth-child(odd){
					float:left;
				}

				&:nth-child(even){
					float:right;
				}

				&:last-child{
					margin-bottom:0;
				}
				&:nth-child(3), &:nth-child(6){
					width:100%;
					float:none;
					max-width:100%;
					margin-right:0;
				}
				// &:nth-child(5){
				// 	width:100%;
				// 	margin-right:0;
				// }

			}			
		}
		.scroll{
			position:absolute;
			bottom:12px;
			height:20px;
			width:180px;
			margin-left:auto;
			right:0%;
			left:0;
			margin:auto;
			text-align:center;
			z-index: 99999;
			a{
				font-size:13px;
				text-transform:uppercase;
				font-weight:bold;
				color:#212121;
			}
		}
	}
}

.portfolio-page{
	display:block;
	overflow: hidden;
	.intro-area{
		// min-height:600px;
		height:auto;
		padding-top:180px;
		background:$theme_blue;
		overflow: hidden;
		display:flex;
		align-items:center;
		position:relative;
		width:100%;
		z-index: 1;
		.bg{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			z-index: 2;
			background-size:30% auto;
			background-repeat:repeat;
			background-position:center;
			opacity:.575;
			background-image:url('../images/bp-lines.png');
		}
		&:before{
			position:absolute;
			z-index: 2;
			width:100%;			
			background-image:linear-gradient(to bottom left, rgba(#000,0), rgba(#000, 0), rgba(#000, .15));
			
			content:"";
			height:100%;
			top:0;
			left:0;
		}
		&:after{
			position:absolute;
			z-index: 2;
			width:100%;
			background-image:linear-gradient(to bottom right, rgba(#000,0), rgba(#000, 0), rgba(#000, .1));
			content:"";
			height:100%;
			top:0;
			left:0;
		}
		.title-area{
			position:relative;
			z-index: 9;
			padding-bottom:150px;
			text-align:left;
			max-width:420px;
			margin-right:42px;
			h1{
				font-size:66px;
				text-shadow:0 2px 6px rgba(#000, .06);
			}
			h2.subheader{
				margin-top:12px;
				text-shadow:0 2px 6px rgba(#000, .06);
				font-weight:400;
				span{
					font-weight:400;
				}
			}
			p{
				font-size:18px;
				line-height:24px;
				text-shadow:0 2px 6px rgba(#000, .06);
			}
		}
		.computer-section{
			position:absolute;
			width:57%;
			height:84%;	
			// background:green;
			right:0;
			bottom:0;
			z-index: 3;
			display:flex;
			align-items:center;
			overflow: hidden;
			img{
				width:100%;
				height:auto;
				// object-fit:contain;
				position:relative;
				right:0%;
				margin-top:auto;
			}
		}
		@media(max-width:1480px){
			padding-top:150px;
			.title-area{
				width:420px;
			}
			.computer-section{
				width:58%;
			}
		}
		@media(max-width:1340px){
			padding-top:120px;
			.title-area{
				width:600px;
				max-width:600px;
			}
			.computer-section{
				width:80%;
				opacity:.18;
				height:84%;
				position:absolute;
				z-index: 1;
				&:before{
					background-image:linear-gradient(to bottom right, transparent, transparent, $theme_blue);
					width:100%;
					height:100%;
					position:absolute;
					z-index: 3;
					content:"";
				}
			}
		}
		// @media(max-width:1280px){
		// 	padding-top:120px;
		// 	.title-area{
		// 		width:400px;
		// 	}
		// 	.computer-section{
		// 		width:58%;
		// 	}
		// }
	}
	.contact-section{
		position:relative;
		background:#fff;
		z-index: 9;
		height:80vh;
		padding:0px 0;
		// background-image:linear-gradient(180deg, $theme_blue 50%, $theme_light 50%);
		// background-color:$theme_light;
		background-image:url('../images/strategy-session.jpg');
		background-size:auto 130%;
		// background-attachment:fixed;
		&:before{
			position:absolute;
			z-index: 2;
			width:100%;
			left:0;
			top:0;
			height:100%;
			background:rgba(#000, .75);
			content:"";
		}
		h3, p, a{
			color:$theme_light;
		}
		.container{
			position:relative;
			z-index: 9;
		}
		.contact-form{
			width:720px;
			max-width:100%;
			// background:rgba(#000, .5);
			padding:42px;
			border-radius:2px;
			margin:0 auto;
			// box-shadow:0 12px 36px rgba(0,0,0,.25);
		}
		.info-sec{
			width:100%;
			height:auto;
		}
	}
	.portfolio-items{
		display:flex;	
		flex-wrap:wrap;
		width:100%;
		// margin-top:84vh;
		// height:100%;
		.item{
			width:auto;
			flex-grow:1;
			min-width:32%;
			max-width:33.333%;
			// height:33.333vh;
			height:45vh;
			overflow: hidden;
			position:relative;
			z-index: 1;
			// border-left:1px solid rgba(#fff,.25);
			// border-bottom:1px solid rgba(#fff,.25);
			
			// &:nth-child(odd){
			// 	background:$theme_blue;
			// }
			// &:nth-child(even){
			// 	background:$theme_green;
			// }
			// &:nth-child(3), &:nth-child(8){
			// 	background:$theme_orange;
			// }
			.project-title{
				position:absolute;
				bottom:18px;
				left:12px;
				width:calc(100% - 12px);
				display:block;
				z-index: 9;
				overflow: hidden;
				opacity:0;
				transition:all .2s ease-in;
				h3{
					color:#fff;
					font-family:$body_font;
					font-size:24px;
					font-weight:bold;
					width:75%;
					margin:0 0 6px 0;
					line-height:30px;					
					text-shadow:0 2px 6px rgba(#000, .2);
				}
				p{
					text-shadow:0 2px 6px rgba(#000, .2);
				}
			}
			&:hover{
				.project-title{
					bottom:12px;
					opacity:1;
					transition:all .2s ease-in;
				}
			}
			a{
				width:100%;
				display:block;
				height:100%;
				position: relative;
				overflow: hidden;
				z-index:1;	
				&:before{
					position:absolute;
					z-index: 2;
					content:"";
					left:0;
					top:0;
					width:100%;
					height:100%;
					transition:all .25s ease-in;
					background:rgba(#212121,0);
				}
				&:hover{
					&:before{
						background:rgba($theme_blue,.6);		
						transition:all .25s ease-in;
					}
				}		
			}
			img{
				width:150%;
				display:block;
				height:150%;
				position: absolute;
				top:0%;
				bottom:0;
				left:-25%;
				right:0;
				margin:auto;
				z-index:1;
				object-position:center;
				object-fit:cover;				
			}
		}
	}
	@media(max-width:768px){
		.intro-area .computer-section{
			display:none;
		}
		.portfolio-items{
			.item{
				max-width:100%;
				min-width:100%;
			}
		}
	}
}

.subpage-header{
	background-image:$base_gradient;
	// background:#fff;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:60px;
	z-index: 999999999999;
	overflow: hidden;		
	img{
		height:80%;
		width:auto;
	}
	a{
		display:block;
		width:230px;
		height:auto;
		overflow: hidden;
	}
	&.gray{
		background-image:linear-gradient(rgba(#f2f2f2,1), rgba(#f2f2f2,1));
		opacity:1;
		transition:all .3s ease-in;
		.page-logo.dark svg circle, .page-logo.dark svg path, .page-logo svg circle, .page-logo svg path{
			fill:#222 !important;
		}
		.nav-float.active #nav_toggle{
			span{
				background:#222;
			}
		}
	}
	&.white{
		// background-image:linear-gradient(rgba(#f2f2f2,1), rgba(#f2f2f2,1));
		background-image:linear-gradient(rgba(#fff,1), rgba(#fff,1));
		opacity:1;
		transition:all .3s ease-in;
		.page-logo.dark svg circle, .page-logo.dark svg path, .page-logo svg circle, .page-logo svg path{
			fill:#222 !important;
		}
		.nav-float.active #nav_toggle{
			span{
				background:#222;
			}
		}
	}
	&.inactive{
		background-image:linear-gradient(rgba(#f2f2f2,0), rgba(#f2f2f2,0));
		transition:all .3s ease-in;
		opacity:1;
		.page-logo.dark svg circle, .page-logo.dark svg path, .page-logo svg circle, .page-logo svg path{
			fill:#fff !important;
		}
		.nav-float.active #nav_toggle{
			span{
				background:#fff;
			}
		}
	}
	&.active{
		background:rgba(#212121,0);
	}
	.page-logo.moved.in-view{
		top:18px;
		height:36px;
		margin:0;
		width:auto;
		transition:all .2s ease-in;
	}
	.page-logo svg path{
		fill:#fafafb;		
	}
	.nav_button_container{
		right:30px;
	}
	.nav_button_container span{
		background:#fafafb;
	}
	.nav-float.active #nav_toggle{
		top:16px;
	}
	@media(max-width:768px){
		display:none;
	}
}

.single-portfolio{
	
	.first-section{
		background:#fafafb;
		height:84vh;
		min-height:720px;
		.deliverables, .the-work{
			p, a{
				font-size:14px;
				&:before{
					float:left;
					display:block;
					content:">";
					margin-right:6px;
				}
			}
			a{
				text-decoration:underline;
			}
		}
		.project-description{
			p{
				margin-top:12px;
			}
		}
		@media (max-width:768px){
			height:auto;
			padding:42px 0;
			.big-container, .container{
				height:100%;
				max-width:84%;
			}
		}
	}
	.section.light-bg{
		background:#fafafb;
	}
	.first-image, .full-image{
		width:100%;
		height:600px;
		overflow: hidden;
		position:relative;
		img{
			width:120%;
			height:120%;			
			object-fit:cover;
			object-position:center;
			position:relative;
			left:-10%;
		}
		.project-logos{
			width:800px;
			position:absolute;
			z-index: 9;
			top:0;
			bottom:0;
			left:0;
			right:0;
			margin:auto;
			height:300px;
			display:flex;
			align-items:center;
			justify-content:center;
			a{
				height:120px;
				width:auto;
				display:block;
				overflow: hidden;
				img{
					height:100%;
					width:auto;
				}
			}
		}
		.content-area{
			position:absolute;
			// width:720px;
			margin:auto;
			left:0;
			right:0;
			top:0;
			bottom:0;
			height:60%;
			// background:white;
			z-index: 9999;
			.row{
				width:100%;
			}
			p, a{
				color:#fff;
			}
		}
	}
	.second-image{
		height:720px;
		position:relative;
		z-index: 1;
		&:after{
			position:absolute;
			z-index: 2;
			width:100%;
			height:100%;
			left:0;
			top:0;
			content:"";
			background:rgba(#000, .5);
		}
		.content-area{
			z-index: 9;
		}
	}
	.iphone-portfolio{
		.col-4-l{
			margin-bottom:24px;
			&:nth-child(3n+4){
				clear:both;
			}
		}
	}
	.offset-phone{
		margin-bottom:-100px;
		.title{
			margin-bottom:100px;
		}
		.top-offset{
			position:relative;
			top:-100px;
			img{
				vertical-align:bottom;
			}
		}
	}

	.desktop-portfolio-items{
		.responsive-img.item{
			box-shadow:0 2px 6px rgba(#000, .09);

		}
	}

	@media(max-width:768px){
		
		.section{
			padding:42px 0;
		}
		h1{
			font-size:48px;
			line-height:52px;
		}
		.page-title-xl{
			font-size:42px;
			line-height:46px;
		}
		.subheader-portfolio{
			font-size:22px;
			line-height:30px;
		}
		.subheader-s{
			font-size:18px;
			line-height:18px;
		}
		.page-title-medium{
			font-size:30px;
			line-height:36px;
		}
		.deliverables{
			margin-bottom:18px;
			margin-top:18px;
		}
		.first-section .subheader-portfolio{
			margin:30px 0;
			padding:30px 0;
			border-top:1px solid #e0e0e0;
			border-bottom:1px solid #e0e0e0;
		}
		.offset-phone{
			margin:0;
			padding:42px 0;
			.title{
				margin:0;
			}
			.row{
				display:block !important;
				.responsive-img.top-offset{
					display:none;
				}				
				.phone-image{
					display:none;
				}
			}

		}
		.iphone-portfolio{
			.col-12{
				margin-bottom:18px;
			}
		}
	}
}


.services{
	.seventh-section{
		height:70vh;
		padding:0px 0;
		// background-image:linear-gradient(180deg, $theme_blue 50%, $theme_light 50%);
		// background-color:$theme_light;
		background-image:url('../images/contact-bg.jpg');
		position:relative;
		z-index: 1;
		background-size:auto 130%;
		// background-attachment:fixed;
		&:before{
			position:absolute;
			z-index: 2;
			width:100%;
			left:0;
			top:0;
			height:100%;
			background:rgba(#000, .75);
			content:"";
		}
		.map-bg{
			position:absolute;
			z-index: 2;
			width:100%;
			left:0;
			top:0;
			height:100%;
			iframe{
				height:100%;
				width:100%;
			}
		}
		h3, p, a{
			color:$theme_light;
		}
		.container{
			position:relative;
			z-index: 9;
		}
		.contact-form{
			width:720px;
			max-width:100%;
			// background:rgba(#000, .5);
			padding:42px;
			border-radius:2px;
			margin:0 auto;
			// box-shadow:0 12px 36px rgba(0,0,0,.25);
		}
		.info-sec{
			width:100%;
			height:auto;
		}
	}

	.first-section{
		// background-image:linear-gradient(to left, #5f2c82, $theme_color );
		background-image:url('../images/services-top-img.jpg');
		background-size:cover;
		background-position:center center;
		padding:0px 0 0;
		height:75vh;		
		min-height:760px;
		background-repeat:no-repeat;
		display:flex;
		align-items:center;
		.services-hero{
			width:30%;
			margin:0 auto 0 6%;
			// max-width:90%;
			height:auto;
			display:block;
			overflow: hidden;
			text-align:left;
			overflow: hidden;
			img{
				width:100%;
				height:auto;
			}
			.hero-img{
				width:84%;
				margin:30px auto 0;
				position:relative;
				top:0px;
			}
			.responsive-img{
				img{
					width:100%;
					height:auto;
				}
			}
		}
	}
	.services-section{
		padding:90px 0;
		.services-grid{
			.row{
				margin-bottom:90px;
				.responsive-img{	
					position:relative;					
					&:before{
						position:absolute;
						z-index: 1;
						// background:#000;
						width:90%;
						height:100%;
						content:"";
						top:0;
						left:0;
						box-shadow:0 6px 18px rgba(#000, .25);
					}			
					img{		
						width:94%;
						height:auto;			
						box-shadow:0 2px 4px rgba(#000, .1);
						position:relative;
						z-index: 3;					
					}
				}
				&:nth-child(even){					
					.responsive-img{
						order:0;					
						&:before{
							position: absolute;
						    z-index: 1;
						    // background: #d0d0d0;
						    background-image:linear-gradient(to right, #000046, #1CB5E0 );
						    width: 90%;
						    height: 101%;
						    content: "";
						    top: 4%;
						    left: 0%;
						}
					}
					.item-text{
						order:1;
					}
				}
				&:nth-child(odd){					
					.responsive-img{
						order:1;
						&:before{
							position: absolute;
						    z-index: 1;
						    // background: #d0d0d0;
						    background-image:linear-gradient(to left, #000046, #1CB5E0 );
						    width: 90%;
						    height: 100%;
						    content: "";
						    top: 4%;
						    left: 5%;
						}
					}
					.item-text{
						order:0;
					}
				}
			}	
			
			.item-text{
				.text-contain{
					width:90%;
					margin:0 auto;
				}
			}
		}
	}
	@media(max-width:768px){
		.first-section{
			background-position:top center;
			background-size:150% auto;
			background-position: 100% -40px;
		    background-color:#3D82F0;
			flex-direction:column;
		    
			h1{
				font-size:36px;
				line-height:42px;
			}
			
			.services-hero{
				width:80%;
				margin:0 auto;
				margin-top:240px;

			}
		}	
		.services-grid{
			.row{
				flex-direction:column;
				.responsive-img{
					order:0 !important;
					width:100%;
				}
				.item-text{
					margin-top:42px;
				}
			}
		}
		.seventh-section{
			height:auto;
			padding:42px 0;
			.container{
		
			}
			.info-sec{
				width:90%;
				text-align:center;
				margin:0 auto;
				.row{
					display:block !important;
				}
			}
			.contact-form{
				padding:12px;
			}
		}
	}
}

.single-service{
	p{
			margin-bottom:18px;
		}
	.first-content-section{
		background:#fafafb;
	}	
	.section{
		overflow: hidden;
	}
	.first-section{
		height:84vh;
		min-height:720px;
		background-color:#fafafb;
		background-image:url('../images/contact-bg.jpg');
		background-size:cover;
		position:relative;
		z-index: 1;
		&:before{
			background:rgba(#000, .7);
			left:0;
			top:0;
			width:100%;
			height:100%;
			position:absolute;
			z-index: 2;
			content:'';
		}
		.container{
			position:relative;
			z-index: 3;
		}

	}
	.split-items{
		.row{
			height:600px;
			.col-5-l{
				min-width:420px;
				.med-contain{
					padding:60px 0;
				}
			}
			.col-7-l{
				height:100%;
			}
		}	
	}
	.first-image, .full-image{
		width:100%;
		height:600px;
		overflow: hidden;
		position:relative;
		img{
			width:120%;
			height:120%;			
			object-fit:cover;
			object-position:center;
			position:relative;
			left:-10%;
		}
		.project-logos{
			width:800px;
			position:absolute;
			z-index: 9;
			top:0;
			bottom:0;
			left:0;
			right:0;
			margin:auto;
			height:300px;
			display:flex;
			align-items:center;
			justify-content:center;
			a{
				height:120px;
				width:auto;
				display:block;
				overflow: hidden;
				img{
					height:100%;
					width:auto;
				}
			}
		}
		.content-area{
			position:absolute;
			// width:720px;
			margin:auto;
			left:0;
			right:0;
			top:0;
			bottom:0;
			height:60%;
			// background:white;
			z-index: 9999;
			.row{
				width:100%;
			}
			p, a{
				color:#fff;
			}
		}
	}
	.second-image{
		height:720px;
		position:relative;
		z-index: 1;
		&:after{
			position:absolute;
			z-index: 2;
			width:100%;
			height:100%;
			left:0;
			top:0;
			content:"";
			background:rgba(#000, .5);
		}
		.content-area{
			z-index: 9;
		}
	}
	.portfolio-items{
		display:flex;	
		flex-wrap:wrap;
		width:100%;
		margin-top:0;
		// height:100%;
		.item{
			width:auto;
			flex-grow:1;
			min-width:32%;
			max-width:33.333%;
			// height:33.333vh;
			height:45vh;
			overflow: hidden;
			position:relative;
			z-index: 1;
			.project-title{
				position:absolute;
				bottom:6px;
				left:6px;
				width:100%;
				display:block;
				overflow: hidden;
				h3{
					color:#fff;
				}
			}
			// border-left:1px solid rgba(#fff,.25);
			// border-bottom:1px solid rgba(#fff,.25);
			
			// &:nth-child(odd){
			// 	background:$theme_blue;
			// }
			// &:nth-child(even){
			// 	background:$theme_green;
			// }
			// &:nth-child(3), &:nth-child(8){
			// 	background:$theme_orange;
			// }
			a{
				width:100%;
				display:block;
				height:100%;
				position: relative;
				overflow: hidden;
				z-index:1;	
				&:before{
					position:absolute;
					z-index: 2;
					content:"";
					left:0;
					top:0;
					width:100%;
					height:100%;
					transition:all .25s ease-in;
					background:rgba(#212121,.2);
				}
				&:hover{
					&:before{
						background:rgba($theme_blue,0);		
						transition:all .25s ease-in;
					}
				}		
			}
			img{
				width:150%;
				display:block;
				height:150%;
				position: absolute;
				top:0%;
				bottom:0;
				left:-25%;
				right:0;
				margin:auto;
				z-index:1;
				object-position:center;
				object-fit:cover;				
			}
		}
	}
	@media (max-width:1280px){
		.split-items{
			.col-5-l{
				min-width:480px;
			}
		}
	}

	@media (max-width:1140px){
		.portfolio-items{
			.item{
				min-width:50%;
				max-width:50%;
				height:40vh;
			}
		}
	}

	@media (max-width:1024px){
		.cta-contact{
			display:none;
		}
		.split-items{
			.row{
				height:auto;
			}
			.flex{
				flex-direction:column;
				.col-7-l{
					order:0;
					width:100%;
					max-width:100%;
					min-width:100%;
				}
				.col-5-l{
					width:100%;
					max-width:100%;
					min-width:100%;
					order:1;
				}
			}
		}		
	}

	@media (max-width:768px){

		.portfolio-items{
			.item{
				min-width:100%;
				max-width:100%;
				height:40vh;
			}
		}
	}
}

.articles-page{
	background:#fff;
	@extend .portfolio-page;
	.intro-area{
		// height:54vh;
		height:300px;
		min-height:0;
		position:relative;
		background-image:linear-gradient(to bottom right, #222, #000);
		.bg{			
			background:none;
		}
		.large p{
			color:#fff;
			font-size:18px;

			line-height:30px;
			text-shadow:0 2px 4px rgba(#000, .06);
		}
		.large a{
			color:#fff;
			text-decoration:underline;
			 margin-top:60px;
		}
		.link-more{
			a{
				display:block;
				margin-top:24px;
			}
		}
		.category-links{
			position:absolute;
			bottom:0;
			width:100%;
			display:flex;
			justify-content:center;
			z-index: 999999;
			li{
				display:block;				
				a{
					padding:0px 24px;
					color:#fff;
					line-height:42px;
					height:42px;
					display: block;
					border-bottom:3px solid #fff;
					transition:all .2s ease-in;
					&.active{
						font-weight:600;
						border-bottom:6px solid #fff;
						transition:all .2s ease-in;
					}
					&:hover{
						font-weight:600;
						border-bottom:6px solid #fff;
						transition:all .2s ease-in;	
					}
				}
			}
		}
	}	
	.all-articles{		

	    display: flex;	    
	    flex-wrap: wrap;
	    width: 100%;
	    // margin-top: 84vh;
		background:#fff;
		min-height:80vh;
		.article{
			//background:#fff;
			//box-shadow:0 2px 4px rgba(#000, .1);		
			width:100%;
			display:block;
			overflow: hidden;	
			padding:60px 0;
			border-bottom:1px solid #e0e0e0;
			&:last-of-type{
				border-bottom:0;
			}
			.date{
				margin-bottom:auto;
				margin-top:0px;
				text-align:right;
				.date-label{
					font-weight:bold;
					font-size:16px;
					line-height:16px;
					margin-bottom:3px;
					letter-spacing:0;
					text-transform:uppercase;
					font-family:$body_font;
				}
				.date-text{
					font-weight:normal;
					text-transform:uppercase;
					font-size:14px;
					line-height:15px;
					font-family:$body_font;
					letter-spacing:0;
					margin-bottom:9px;
					padding-bottom:18px;
					margin-bottom:18px;
					border-bottom:1px solid #e0e0e0;
				}
			}
			.article-img{
				width:100%;
				height:100%;
				display:flex;
				align-items:center;
				justify-content:center;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			.short-excerpt{
				h2{
					margin-bottom:18px;
					margin-top:30px;
				}
				p{
					font-size:14px;
					line-height:20px;					
				}
			}
		}

	}
}

.related-articles{
	.related-article{
		display:flex;
		align-items:flex-start;
		margin-bottom:6px;
		overflow: hidden;
		.related-article-image{
			width:90px;
			min-width:90px;
			max-width:90px;
			height:72px;
			margin-right:12px;
			img{
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}	
		p{
			font-size:14px;
			line-height:16px;
			font-weight:500;
			margin:0;
		}
		a{
			color:$base_accent;
			margin:9px 0 0 0;
			display:block;
			font-size:14px;
		}
	}
}

.single-article-page{
	background:#fff;
	.article{
		padding:60px 0;
		.text{
			clear:both;
		}
		.row{
			clear:both;
		}
		p > code{
			display:none;
		}
		.row.flex{
			@media(max-width:1024px){

			}
			@media(max-width:768px){
				display:block !important;
			}
		}
	}
	.blog-img{
		height:40vh;		
		overflow: hidden;
		img{
			width:100%;
			height:100%;
			object-fit:cover;
		}
	}
	.title-area{
		height:auto;
		min-height:0;
		width:100%;
		display:block;
		overflow: hidden;
		padding-top:90px;
		padding-bottom:30px;
		//background-image:$pn_blue_gradient;
		background-color:#f8f8fb;
		// background-image:linear-gradient(to right, #43cea2, #185a9d);
		.intro-text{
			margin-top:60px;
			margin-bottom:24px;
		}
	}
	.short-excerpt{
		h2{
			margin-bottom:18px;
			margin-top:30px;
		}
		p{
			font-size:14px;
			line-height:20px;					
		}
	}
	.seventh-section{
		height:100vh;
		padding:0px 0;
		// background-image:linear-gradient(180deg, $theme_blue 50%, $theme_light 50%);
		// background-color:$theme_light;
		background-image:url('../images/contact-bg.jpg');
		position:relative;
		z-index: 1;
		background-size:cover;
		background-attachment:fixed;
		&:before{
			position:absolute;
			z-index: 2;
			width:100%;
			left:0;
			top:0;
			height:100%;
			background:rgba(#000, .75);
			content:"";
		}
		.map-bg{
			position:absolute;
			z-index: 2;
			width:100%;
			left:0;
			top:0;
			height:100%;
			iframe{
				height:100%;
				width:100%;
			}
		}
		h3, p, a{
			color:$theme_light;
		}
		.container{
			position:relative;
			z-index: 9;
		}
		.contact-form{
			width:720px;
			max-width:100%;
			// background:rgba(#000, .5);
			padding:42px;
			border-radius:2px;
			margin:0 auto;
			// box-shadow:0 12px 36px rgba(0,0,0,.25);
		}
		.info-sec{
			width:100%;
			height:auto;
		}
	}
	@media(max-width:768px){
		.download-cta-container{
			display:none;
		}
		.related-articles{
			display:none;
		}
	}
}

code {
    font-family: monospace;
    display:block;
    padding:30px;
    overflow: hidden;
    background:#fafafb;
    color:#606060;
    margin:10px 0;
    p{
    	font-family: monospace;
    }
}

.contact-page{
	position:relative;
	z-index: 1;
	.video{
		position:fixed;
		left:0;
		top:0;
		width:100%;
		height:100%;
		z-index: 2;
		video{
			width:100%;
			height:100%;
			object-fit: cover;
		}
		&:before{
			background-image:$pn_blue_gradient;
			content:"";
			opacity:.66;
			position:absolute;
			z-index: 3;
			width:100%;
			height:100%;
			top:0;
			left:0;
		}
	}
	.contact-contents{
		h1, h2, h3, p, a {
			color:#fff;
		}
		a{
			text-decoration:underline;
		}
		.social-icons{
			a{
				font-size:24px;
				margin-right:12px;
				display:block;
			}
		}
	}
	.content-area{
		position:relative;
		z-index: 4;
		height:100vh;
		width:100%;
		display:flex;
		align-items:center;
		overflow: hidden;
	}
	.map{
		height:75vh;
		min-height:420px;
		iframe{
			outline:0;
			width:100%;
			height:75vh;
			min-height:420px;
			vertical-align:bottom;
		}
	}
}

