.parallax-bg{
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
}

@keyframes image_scroll {
	0% {
		top:0%;
	}		
	100% {
		top:-100%;		
	}
}

@keyframes item_float {
	0%, 100% {
		transform:translateY(0%);				
	}			
	50% {
		transform:translateY(-3%);				
	}
}

@keyframes small_float {
	0%, 100% {
		transform:translateY(0px);				
		box-shadow: 0 2px 6px 0px rgba(0,0,0,0.09);
	}			
	50% {
		transform:translateY(-18px);				
		box-shadow: 0 6px 18px 0px rgba(0,0,0,0.09);
	}
}

@keyframes fade_in {
	0% {
		opacity:0;	
	}		
	100% {
		opacity:1;
	}
}

.small-float{
	animation:small_float 8s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-fill-mode: forwards; 
	position:relative;
	opacity:1;
	@media (max-width:1024px){
		animation:none;
	}
}

.float-delay{
	animation-delay:1s;
}

.item-float{
	animation:item_float 6s infinite;
	animation-direction: alternate;  
	animation-timing-function: linear;
	animation-fill-mode: forwards; 
	position:relative;
}

.home-page{
	display:block;
	overflow: hidden;

	.first-section{
		height:90vh;
		min-height:660px;
		width:100%;
		position:relative;
		background-image:url('../images/ball-triangle-1.svg');
		background-size:auto 30px;
		background-position: center center;
		background-repeat:no-repeat;
		&:after{
			position:absolute;
			width:3px;
			height:90px;
			display:block;
			right:18%;
			bottom:-45px;
			opacity: 0;
			background:#e2e2e2;
			content:"";
			animation-name: fade_in;
			animation-duration: 1.5s;
			animation-delay: 1s;
			animation-fill-mode: forwards;
		}
		&:before{
			width:0%;
			content:"";
			position:absolute;
			right:0;
			height:100%;
			background:darken($light, 1);
			display:block;			
		}
		&.on{
			&:before{
				width:85%;
				transition:width .5s ease-in;
			}
		}
		.image-split{
			height:100%;			
			display:flex;
			align-items:center;			
			position:relative;
			.big-video-block{
				background:#222;
				height:84%;
				width:72%;
				overflow: hidden;
				position:relative;
				background-image:url('https://res.cloudinary.com/propernoun/image/upload/q_auto:good,f_auto/pn-montage-bg.jpg');
				background-size:cover;
				z-index: 1;
				&:before{
					position:absolute;
					top:0;
					left:0;
					content:"";
					width:100%;
					height:100%;
					z-index: 3;
					background:rgba($theme_blue, .5);
				}
				img, video{
					width:100%;
					height:100%;
					object-fit: cover;
				}
				video{
					position:absolute;
					top:0;
					left:0;
					right:0;
					z-index: 2;
					margin:auto;
				}
			}	
			.small-image{
				height:28vw;
				max-height:480px;
				width:36vw;
				display:block;
				position:absolute;
				right:0;
				top:0;
				bottom:0;				
				z-index: 199;
				margin:auto;				
				box-shadow:0 3px 12px rgba(#000, .12);
				.schedule-links{
					position:absolute;
					display:flex;
					align-items:center;
					justify-content: center;
					right:-15px;
					height:100%;
					flex-direction: column;
					width:300px;
				}
				.schedule-link{					
					width:100%;
					text-align: right;					
					z-index: 9;
					font-weight:bold;
					font-size:13px;
					text-transform: uppercase;
					margin:auto;
					color:#fafafb;
					letter-spacing: 1px;
					display:flex;
					margin:0;
					justify-content: flex-end;					
					height:36px;
					align-items:center;
					&:after{
						width:30px;
						height:2px;
						background:$orange;
						content:"";
						margin-left: 12px;
						float:right;
						transition:all .2s ease-in;
					}
					&:hover{
						&:after{
							margin-left: 15px;
							transition:all .2s ease-in;
						}
					}
				}
				img{
					// border-top:12px solid $light;
					// border-left:12px solid $light;
					// border-bottom:12px solid $light;
					width:100%;
					height:100%;
					object-fit: cover;
				}
			}
			@media (max-width:1580px){
				.big-video-block{
					width:75%;
				}
			}
			@media (max-width:1480px){
				.big-video-block{
					width:78%;
				}
			}
			@media (max-width:1340px){
				.small-image{
					height:24vw;
				}
			}
			@media (max-width:1200px){
				.big-video-block{
					width:100%;
				}
				.small-image{
					box-shadow:none;
					img{
						display: none;
					}
					.schedule-links{
						a{
							color:#fff;
						}
					}
				}
			}
			
			@media (max-width:600px){
				.small-image{
					display:none;
				}
			}
		}
		.text-container{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			z-index: 99;
			display:flex;
			align-items:center;
			h3, p{
				color:#fff;
				width:60%;
				text-shadow: 0 2px 6px rgba(#000, .1);
				display:block;
			}
			p{
				font-size:15px;
				line-height:24px;
				margin-top:24px;
			}
			a{
				color:#fff;
				text-decoration: underline;
			}
		}

		@media(max-width:1580px){
			.image-split .big-video-block{
				height:78%;
			}
			.text-container h3{
				font-size:60px;
				line-height:66px;
			}
		}

		@media(max-width:1340px){
			height:78vh;
			.image-split .big-video-block{
				height:78%;
			}
			.text-container h3{
				font-size:48px;
				line-height:60px;
			}
			.text-container h3, .text-container p{
				margin-left:3%;
				width:57%;
			}
			.cta-link{
				margin-left:3%;
			}
		}

		@media(max-width:768px){
			margin-top:60px;	
			.image-split .big-video-block{
				height:100%;
			}
		}

		@media(max-width:600px){
			
			.big-contain{
				margin:0;
			}
			.image-split .big-video-block{
				height:100%;
				width:100%;
			}
			.text-container h3{
				font-size:30px;
				line-height:36px;
				width:100%;
				display:block;
			}
			.text-container h3, .text-container p{
				margin-left:3%;
				width:100%;
			}
			.cta-link{
				margin-left:3%;
			}
		}
		
	}	

	.recent-articles.articles{
		.article{
			background:none;
			box-shadow: 0 0 0 rgba(#000, 0);
			.thumb{
				width:180px;
				min-width:180px;
				max-width:180px;
				height:180px;
				@media(max-width:768px){
					width:100%;
					min-width:100%;
					max-width:100%;
					height:auto;
				}
			}
		}
	}

	.blog-sec{
		
		@media(max-width:1024px){
			.text{
				margin-bottom:60px;
				a{
					float:right;
					margin-top:0;
					position:relative;
					top:-30px;
					display: block;
				}
			}
		}

		@media(max-width:768px){
			.text{
				margin-bottom:60px;
				a{
					float:none;
					margin-top:0;
					position:relative;
					top:0px;
					padding: 15px 0;
					font-size:20px;					
					margin: 12px 0 0 0;
					display: block;
				}
			}
		}

	}

}

.portfolio-block{
	padding:60px 0 60px;
	position:relative;
	&.light{
		background-color:#fbfbfb;
	}
	&:after{
		width:840px;
		margin:0 auto;
		position:absolute;
		z-index: 0;
		height:100%;
		top:0;
		left:0;
		right:0;
		margin:auto;		
		content:"";
		background: repeating-linear-gradient(
		  to right,
		  #d0d0d0,
		  transparent 1px, 
		  transparent 420px,
		  #d0d0d0 420px,
		  transparent 421px,
		  transparent 839px,
		  #d0d0d0 840px
		);
	}
	&:before{
		content:"";
		z-index: 0;
		bottom:0;
		left:0;
		height:180px;
		position:absolute;
		width:100%;
		background-image:linear-gradient(to bottom, transparent, #fff);
	}
	.container{
		position:relative;
		z-index: 3;
	}
	.page-section-title{
		padding-bottom:60px;
	}
	.buttons.center{
		margin-top:90px;
	}
	.portfolio-items{
		display:block;
		width:100%;		
		ul{
			display:grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: initial;
			grid-auto-flow: row; 

			width:100%;
			max-width: 100%;
			grid-gap:30px;
			li{			
				// grid-column: span 1;
				// grid-row: span 1;
				width:100%;					
				display:flex;	
				flex-direction:column;
				position:relative;
				transform: translateY(0px);
				transition:transform .5s ease-in;
			
				&:hover{
					position:relative;
					transform: translateY(-6px);
					transition:transform .5s ease-in;
				}
				
				@media (min-width:1279px){
					&:nth-child(3n + 2){
						top:30px;
					}
					&:nth-child(3n + 3){
						top:60px;
					}
				}
	
				.image{
					height:300px;
					width:100%;
					display:block;						
					overflow: hidden;
					img{
						width:100%;
						max-width:100%;
						height:100%;
						object-fit: cover;
						vertical-align: bottom;
					}
				}	
				.project-info{
					height:auto;
					flex-grow:1;
					padding:30px;			
					text-align: left;
					width:100%;
					// display:flex;
					// flex-direction:column;
					display:block;
					a{
						color:#fff;
					}		
					.categories{
						white-space: nowrap;
						overflow: hidden;
						display:flex;

						text-overflow: ellipsis;
						span{
							color:#fff;
							font-size:12px;
							text-transform:uppercase;								
							font-family:$body_font;
							letter-spacing: 1px;
							&:after{
								content:"/";
								padding:0 6tpx;
							}
							&:last-child{
								&:after{
									display: none;
								}
							}
						}
					}
					.project-title{
						display:block;
						clear:both;
						// font-family: $heading_font;
						// font-size:42px;
						// line-height:48px;
						font-family: $heading_font;
						font-size:30px;
						line-height:36px;							
						letter-spacing: 1px;
						font-weight:bold;	
						margin-bottom:auto;			
						padding-bottom:24px;			
					}
					.go-link{
						margin-bottom:0px;
						font-style:italic;
						font-family: $italic_font;
						text-transform: lowercase;
						font-size:18px;
						display:inline-block;
						width:auto;
						transition:all .2s ease-in;
						&:after{
							display:block;
							clear:both;
							margin-top:12px;
							height:2px;
							width:0%;
							content:"";
							background:#fff;
							transition:all .2s ease-in;	
						}
						&:hover{
							transition:all .2s ease-in;	
							&:after{
								width:100%;
								transition:all .2s ease-in;	
							}
						}

					}
				}
				&:first-child{
					.project-info{
						background:$theme_blue;
					}
				}
				&:nth-child(2){
					.project-info{
						background:$orange;
					}
				}
				&:nth-child(3){
					.project-info{
						background:#e67e22;						
					}
				}
				&:nth-child(4){
					.project-info{
						background-color:$theme_lt_blue;
					}
				}
				&:nth-child(5){
					.project-info{
						background:#6c5ce7;
					}
				}
				&:nth-child(6){
					.project-info{
						// background:$theme_purple;
						background:#0D7A3E;
					}
				}
			}
		}

		&.items-xl{
			ul{
				// grid-template-rows: repeat(5, 1fr);
			}
			ul{
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: initial;
				grid-auto-flow: row; 
				li{
					top:initial;				
					position:relative;
					&:nth-child(3n + 2){
						top:30px;
					}
					&:nth-child(3n + 3){
						top:60px;
					}
					.image{
						height:420px;
						position:relative;
						z-index: 3;
					}
					.project-info{
						// background-color:rgba(#111, .65);
						position:relative;
						left:0;
						z-index: 9;
						padding:18px 24px 3px 24px;
						bottom:0;
						background:transparent !important;
						.project-title{
							font-size:24px;
							line-height:30px;
							padding-bottom:6px;
							color:#222;
						}
						.go-link{
							margin-top:auto;
							color:#222;
						}
					}
				}
			}


		}
	}

	@media(max-width:1279px){
		
		.portfolio-items{
			ul{
				// grid-template-rows: repeat(3,1fr);
				grid-template-columns: repeat(2, 1fr);
		
				grid-auto-flow: row; 

				grid-gap:90px;
				li{
					top: initial;

					@media(min-width:1024px){
						&:nth-child(3n + 2){
							top:0px;
						}
						&:nth-child(2n + 2){
							top:0px;
						}
						&:nth-child(3n + 3){
							// top:0px;
						}
					}					
				}
			}
			&.items-xl{
				ul{
					grid-gap:30px;
				}
			}
		}
		
		&:after{
			width:660px;
			margin:0 auto;
			position:absolute;
			z-index: -1;
			height:100%;
			top:0;
			left:0;
			right:0;
			margin:auto;		
			content:"";
			background: repeating-linear-gradient(
			  to right,
			  #d0d0d0,
			  #fff 1px, 				 
			  #fff 659px,
			  #d0d0d0 660px
			);
		}

	}
	@media(max-width:1024px){
		
		.portfolio-items{
			ul{
				// grid-template-rows: repeat(3,1fr);
				grid-template-columns: repeat(1, 1fr);	
				grid-auto-flow: row; 
				grid-gap:30px;
				li{
					top: initial;
					display: flex;
					height:300px;
					top:0px;
					flex-direction: row;
					.image{
						width:50%;
						min-width:50%;
						max-width:50%;
						height: 100%;
					}
					.project-info{
						width:50%;
						min-width:50%;
						height: 100%;
						max-width:50%;
						display: flex;
						flex-direction: column;
						.go-link{
							margin-top:auto;
						}
					}
				
				}
			}
			&.items-xl{
				ul{
					grid-gap:30px;
					li{
						flex-direction: column;
						.image, .project-info{
							width:100%;
							max-width:100%;
							min-width:100%;
						}
						.image{
							height:240px;
						}
						.project-info{
							height:120px !important;
						}
					}
				}
			}
		}
		
		&:after{
			width:660px;
			margin:0 auto;
			position:absolute;
			z-index: -1;
			height:100%;
			top:0;
			left:0;
			right:0;
			margin:auto;		
			content:"";
			background: repeating-linear-gradient(
			  to right,
			  #d0d0d0,
			  #fff 1px, 				 
			  #fff 659px,
			  #d0d0d0 660px
			);
		}

	}
	
	@media(max-width:1120px){
		.portfolio-items{
			&.items-xl{
				ul{
					grid-gap:30px;
					grid-template-columns:repeat(2,1fr);
					li{
						top:0px;
						&:nth-child(2n + 2){
							top:0px;
						}
						&:nth-child(3n + 3){
							top:0px;
						}
						&:nth-child(3n + 2){
							top:0px;
						}
					}
				}
			}
		}		
	}

	@media (max-width:768px){
		.portfolio-items{
			ul{				
				li{				
					.image{
				
					}
					.project-info{
				
						.go-link{
				
						}
					}
				
				}
			}
			&.items-xl{
				ul{			
				grid-template-columns:repeat(1,1fr);		
					li{					
						display: flex;
						flex-direction:row; 
						.image, .project-info{
							width: 50%;
							min-width: 50%;
							max-width: 50%;
							
						}
						.image{
					
						}
						.project-info{
							height:100% !important;
							padding: 30px;
						}
					}
				}
			}
		}
	}

	@media(max-width:690px){
		.page-section-title{
			padding-bottom:24px;
		}

		h2{
			font-size:36px;
			line-height:42px;
			br{
				display:none;
			}
		}
		.portfolio-items{
			ul{		
				display:block;		
				li{				
					display:block;
					height:auto;
					margin-bottom:24px;
					.image{
						width:100%;
						max-width:100%;
					}
					
					.project-info{
						width:100%;
						max-width:100%;
						.go-link{
				
						}
					}
				
				}
			}
			&.items-xl{
				ul{			
				grid-template-columns:repeat(1,1fr);		
					li{					
						display: flex;
						height: auto;
						flex-direction:column; 
						.image, .project-info{
							width: 100%;
							min-width: 100%;
							max-width: 100%;
							
						}
						.image{
					
						}
						.project-info{
							height:120px !important;
							padding: 15px;
						}
					}
				}
			}
		}
	}
}


.line-bg-sec{
	position:relative;
	padding:30px 0 120px;
	width:100%;
	clear:both;
	z-index: 1;
	display:block;
	.container{
		position:relative;
		z-index: 3;
		overflow: visible;
	}
	&.center{
		h2{
			width:60%;
			margin-left:0%;
			text-align: left;
			font-weight:normal;
		}
		&:before{
			width:1340px;
			content:"";
			position:absolute;						
			margin:auto;
			right:0;
			left:0;			
			top:102px;
			margin:auto;
			height:calc(100% - 210px);
			background:$light;
			z-index: 2;
			display:block;			
			transition:width .75s ease-in;
		}
		&.on{
			&:before{
				width:1340px;
				transition:width .75s ease-in;
			}
		}
	}	
	&.right{
		&:before{
			width:0px;
			content:"";
			position:absolute;						
			margin:auto;
			right:0;
			left:0;
			top:156px;
			margin:auto;
			height:calc(100% - 240px);
			background:$light;
			z-index: 2;
			display:block;			
			transition:width .75s ease-in;
		}
		&:after{
			width:0%;
			content:"";
			position:absolute;						
			margin:auto;
			right:0;
			top:156px;
			margin:auto;
			height:calc(100% - 240px);
			background:$light;
			z-index: 2;
			display:block;			
			transition:width .75s ease-in;
		}
		&.on{
			&:before{
				width:1340px;
				transition:width .5s ease-in;
				transition-delay: .7s;				
			}
			&:after{
				width:50%;
				transition:width .75s ease-in;	
			}
		}

		.text-container{
			width:54%;
			min-width:54%;
			max-width:54%;
			display:block;		
			.text-content{
				margin-top:30px;
				display:block;
				p{
					font-size:14px;
					line-height:24px;
				}
			}
		}
		.image-container{
			height:calc(100% + 60px);		
			overflow: visible;
			position: absolute;
			z-index: 9;
			right:0;
			width:42%;
			min-width:42%;
			max-width:42%;
			margin-left:auto;
			&.image-container-xl{
				height:calc(100% + 240px);	
				top:-90px;	
			}
			.colored-block{
				background:blue;
				position:absolute;
				z-index: 1;
				top:0;
				right:-48px;
				width:90%;
				margin:auto 0 auto auto;
				height:108%;
				&.purple-bg{
					background:#C582FF;
				}
				&.green-gradient{
					background-image:linear-gradient(to bottom, #EDF4EC, #C6E2E9);
				}
			}
			.max-height-img{
				height:100%;
				width:100%;
				object-fit: contain;
			}
			img{
				position:relative;
				z-index: 2;
			}
			.tilted-video{
				width: 66%;
			    background: #222;
			    top: -5%;
			    -webkit-transform: rotate(18deg);
			    -ms-transform: rotate(18deg);
			    transform: rotate(18deg);
			    margin: 0 auto;
			    height: 112%;
			    position: relative;
			    right:0px;
			    box-shadow: 0 3px 12px rgba(0,0,0,.06);
			    overflow: hidden;			    
			    transition:transform .4s ease-in, width .4s ease-in;
				video{
					height:120%;
					width:120%;
					top:-10%;
					left:-10%;
					position:relative;
					object-fit: cover;
					transform:rotate(-18deg);
					transition:transform .4s ease-in;
				}
				&.in-view{
					-webkit-transform: rotate(0deg);
				    -ms-transform: rotate(0deg);
				    transform: rotate(0deg);
				    width:100%;
				    right:-24px;
				    transition:transform .4s ease-in, width .4s ease-in;
				    video{
				    	transform:rotate(0deg);
				    	transition:transform .4s ease-in;
				    }
				}
			}
			&.extended{
				margin-bottom:120px;
			}
		}
	}	
	&.left{
		&:before{
			width:0px;
			content:"";
			position:absolute;
			left:0;
			right:0;			
			z-index: 2;			
			top:156px;
			margin:auto;
			height:calc(100% - 170px);
			background:$light;
			display:block;			
			transition:width .75s ease-in;
		}
		&:after{
			width:0%;
			content:"";
			position:absolute;						
			margin:auto;
			left:0;
			top:156px;
			margin:auto;
			height:calc(100% - 240px);
			background:$light;
			z-index: 2;
			display:block;			
			transition:width .75s ease-in;
		}
		&.on{
			&:before{
				width:1340px;
				transition:width .5s ease-in;
				transition-delay: .7s;				
			}
			&:after{
				width:50%;
				transition:width .75s ease-in;	
			}
		}

		.text-container{
			width:54%;
			min-width:54%;
			max-width:54%;
			margin-left:auto;
			display:block;		
			.text-content{
				margin-top:30px;
				display:block;
				p{
					font-size:14px;
					line-height:24px;
				}
			}
		}
		.image-container{
			height:calc(100% + 60px);		
			overflow: visible;
			position: absolute;
			z-index: 9;
			left:0;
			width:42%;
			min-width:42%;
			max-width:42%;			
			margin-left:auto;
			&.image-container-xl{
				height:calc(100% + 240px);	
				top:-90px;	
				img{
					object-fit:cover;
				}
			}
			.colored-block{
				background:blue;
				position:absolute;
				z-index: 1;
				top:0;
				left:-48px;
				width:100%;
				margin:auto;
				height:110%;
				&.purple-bg{
					background:#C582FF;
				}
				&.green-gradient{
					background-image:linear-gradient(to bottom, #EDF4EC, #C6E2E9);
				}
			}
			.max-height-img{
				height:100%;
				width:100%;
				object-fit: contain;
			}
			img{
				position:relative;
				z-index: 2;
			}
			
			&.extended{
				margin-bottom:120px;
			}
		}
	}	
	h2{
		font-size:66px;
		line-height:72px;
		font-family:$heading_font;
		text-transform: capitalize;
		display:block;
		font-weight:normal;
		max-width:100%;
	}

	&.no-subheadline{
		&.left, &.center, &.right{
			&:before{
				top:102px;
				height: calc(100% - 190px);
			}
			&:after{
				top:102px;
				height: calc(100% - 190px);
			}
		}
	}
	
	@media(max-width:1400px){
		&.right.on:before, &.left.on:before{
			width:1240px;

		}
		&.center.on:before{
			width:1240px;			
		}
		&.right{
			.text-container{
				width:48%;
				margin:0 0 0 3%;
			}
			.image-container .colored-block{
				right:0px;
			}
		}
		&.left{
			.text-container{
				width:48%;
				margin:0 3% 0 auto;
			}
			.image-container .colored-block{
				right:0px;
			}
		}
	}

	@media(max-width:1300px){
		&.right.on:before, &.left.on:before{
			width:1180px;

		}
		&.center.on:before{
			width:1140px;			
		}
		&.right{
			.text-container{
				width:48%;
				margin:0 0 0 3%;
			}
			.image-container .colored-block{
				right:0px;
			}
		}
		&.left{
			.text-container{
				width:48%;
				margin:0 3% 0 auto;
			}
			.image-container .colored-block{
				right:0px;
			}
		}
		&.right, &.left{
			.image-container .tilted-video{
				transform:rotate(0deg);
				width:100%;
				video{
					transform:rotate(0deg);
				}
			}
		}
		
	}

	@media(max-width:1200px){
		h2{
			font-size:54px;
			line-height:60px;
		}
		&.right.on:before, &.left.on:before{
			width:1024px;

		}
		&.center.on:before{
			width:1024px;			
		}
		&.right{
			.text-container{
				width:54%;
				max-width:54%;
				min-width:54%;
				margin:0 0 0 3%;
			}
			.image-container .colored-block{
				right:-30px;
				height:100%;
				top:42px;
			}
			.image-container{
				width:45%;
				max-width:45%;
				min-width:45%;
			}
		}
		&.left{
			.text-container{
				width:50%;
				max-width:50%;
				min-width:50%;
				margin:0 3% 0 auto;
			}
			.image-container .colored-block{
				right:-30px;
				height:100%;
				top:42px;
			}
			.image-container{
				width:45%;
				max-width:45%;
				min-width:45%;
			}
		}		
	}

	@media(max-width:1080px){
		h2{
			font-size:42px;
			line-height:48px;
		}
		&.right.on:before, &.left.on:before{
			width:100%;

		}
		&.center.on:before{
			width:100%;			
		}
		&.center{
			h2{
				width:80%;
			}
		}
		&.right{
			.text-container{
				width:48%;
				margin:0 0 0 3%;
			}
			.image-container .colored-block{
				right:0px;
			}
		}
		&.left{
			.text-container{
				width:48%;
				margin:0 3% 0 auto;
			}
			.image-container .colored-block{
				right:0px;
			}
		}
	}



	&.line-dark{
		&:before{
			background-color:#ECECEC !important;
		}
		&:after{
			background-color:#ECECEC !important;
		}
		.image-container{
			text-align:center;
			img{
				// width:auto !important;
				box-shadow: 0 3px 12px rgba(#000 , .09);
			}
		}
	}
	&.line-xl{
		padding:60px 0 !important;
		&:before, &:after{
			height:100% !important;			
			top:0 !important;
		}
	}
	&.line-blue{
		&:before{
			background-color:$theme_blue !important;
		}
		&:after{
			background-color:$theme_blue !important;
		}
		.image-container{
			text-align:center;
			img{
				// width:auto !important;
				box-shadow: 0 3px 12px rgba(#000 , .09);
			}
		}
	}

	
	@media (max-width:1024px){
		
		&.right, &.left{
			.text-container{
				position: relative;
				z-index: 3;
				margin:0 auto;
				width: 88%;
				max-width: 88%;
				min-width: 88%;
			}
			.image-container{
				position:absolute;
				top:0;
				bottom:0;
				width:100%;
				min-width:100%;
				max-width:100%;
				margin:auto;
				left:0;				
				right:0;			
				z-index: 1;
				background-color:#fff;
				img{
					opacity:.1;
					margin:auto;
					left:0;
					right:0;
					height:120% !important;
					width:120% !important;
				}
				.tilted-video{
					left:0;
					opacity:.09;
					right:0;
					margin:auto;
					width:100%;
					top:0%;
					video{
						width:100%;
					}
					// position:absolute;
					// top:0;
					// bottom:0;
					// width:80%;
					// margin:auto;
					// left:0;
					// right:0;			
				}
				.colored-block{
					left:0;				
					width:100%;
					right:0;
					top:0;					
				}
			} 
		} 
		&.bone-broth-block{
			.image-container img{
				height:160% !important;
				top:-60px;
				left:-30px;
			}
		}
	}

	@media (max-width:768px){
		h2{
			font-size:30px;
			line-height:36px;
		}
		&.right, &.left , &.center {
			
			h2{
				font-size:42px;
				line-height:48px;
			}

			&:before, &:after{
				left:0;
				right:0;
				height:100%;
				top:0;
			}
		
		} 
		
	}
}
.strategic-web-design{
	padding-bottom:30px;
	&.line-bg-sec.center{
		&:before{
			height:calc(100% - 162px);
		}
	}	
	.strategic-circles{
		display:flex;
		width:120%;
		position:relative;
		left:-10%;
		align-items:center;
		margin:42px auto 60px;

		.circle{
			width:auto;
			display:block;			
			flex:1;
			max-width:20%;
			flex-grow:1;
			.title{
				font-family:$body_font;
				font-size:18px;
				font-weight:900;
				text-transform:uppercase;
				letter-spacing: 1px;
				display: block;
				width:100%;
				text-align:center;
			}
			img{
				width:100%;
				height:auto;
			}
			svg{
				width:100%;
				height:100%;				
				path{

				}
				// display:none;
			}
			svg * {
				// fill:none;
				stroke-dasharray: 0;
			}
		}
		.dots{
			width:60px;
			margin:0 18px;
			img{
				width:100%;
				height:auto;
			}
		}
	}
	@media(max-width:1500px){
		.strategic-circles{
			width:110%;
			left:-5%;
		}
	}
	@media(max-width:1080px){
		.strategic-circles{
			width:100%;
			left:0;
			.dots{
				width:30px;
			}
		}
	}
	@media(max-width:600px){
		&:before{
			height:100%;
		}
		h2{
			font-size:42px;
			line-height:48px;
		}
		.strategic-circles{
			display:block;
			.dots{
				display:none;
			}
			.strategic-circle{
				display:block;
				width:90%;
				max-width:90%;
				margin:0 auto 24px;
				text-align:center;
				clear:both;
				.title{
					text-align:center;
					font-size:30px;	
					margin-top:18px;
					display: block;				
				}
			}
		}
	}
}

.process-text-section{
	padding:0 0 60px 0;
	@media(max-width:1320px){
		.med-contain{
			width:84%;
		}
	}
	@media(max-width:1180px){
		.med-contain{
			width:90%;
		}
	}
	@media(max-width:1080px){
		.med-contain{
			width:100%;
		}
	}
}

.development-section{
	background:#222;
	background-image:url('https://res.cloudinary.com/propernoun/image/upload/q_auto:good,f_auto/develop-sec-bg.jpg');
	background-size:cover;
	position:relative;
	z-index: 1;
	&:before{
		width:100%;
		height:100%;
		position:absolute;
		left:0;
		z-index: 2;
		top:0;
		background:#222;
		opacity:.9;
		content:"";
	}
	h2, h3, p{
		color:#fff;
	}
	.container{
		position:relative;
		z-index: 3;
	}
	.browser-window{
		width:540px;
		background-image:url('https://res.cloudinary.com/propernoun/image/upload/q_auto:good,f_auto/blank-browser-window.png');
		background-size:auto 100%;
		background-position: center right;
		background-repeat:no-repeat;
		box-shadow:0 0 0 rgba(#000, 0) !important;
		height:492px;
		margin-left:auto;		
		display:block;
		.clip-window{
			width: calc(100% - 13px);
		    margin-left: auto;
		    height: calc(100% - 24px);
		    margin-top: 24px;
		    position: relative;
		    overflow: hidden;
		    top: 30px;
		    background:$light;
		    clip-path: polygon(0 13.75%,100% 1.25%,100% 98.5%,0 84%);
		    -webkit-clip-path: polygon(0 13.75%,100% 1.25%,100% 98.5%,0 84%);
		    margin-right: 13px;
		    perspective: 250px;
		    img{
		    	width: calc(100% + 12px);
			    height: auto;
			    -webkit-transform: rotatey(45deg);
			    -ms-transform: rotatey(45deg);
			    transform: rotatey(-9deg);
			    margin-top: 32px;
			    left: -48px;
			    position: relative;
		    }
		    &.scroll-img{
		    	img{
		    		animation-name: image_scroll;
  					animation-duration: 12s;
  					animation-fill-mode: forwards;
		    	}
		    }
		}
	}
	@media(max-width: 990px){
		.dream-block{
			display: block !important;			
		}
		.scroller-browser{
			display: none;
		}
	}
}
.brand-awareness-block{
	margin:42px 0 66px;
}
.bone-broth-block{
	// height:690px;
	margin-top:78px;
	.image-container{
		.max-height-img{
			height:150% !important;
			width:150% !important;
			object-fit: contain;
			left:-45%;
			top:-12%;
		}
		img{

		}
	}
	&.left{
		&:before{
			height:calc(100% - 222px);
		}
		&:after{
			height:calc(100% - 222px);
		}
	}
}

.articles-columns{
	width:100%;
	display: flex;
	.articles-column{
		min-width:72%;
		width:72%;
		max-width:72%;
		margin-right:auto;
	}
	.sidebar-column{
		width:25%;
		min-width:25%;
		max-width:25%;
		.component{
			background:#fff;
			box-shadow:0 2px 6px rgba(#000, .06);
			padding:12px;
			margin-bottom:18px;
		}
	}
	@media(max-width:768px){
		
		.articles-column{
			width:100%;
			min-width:100%;
			max-width:100%;
		}
		.sidebar-column{
			display: none;
		}
	
	}
}

.articles{
	&.recent-articles{
		height:510px;
		overflow: hidden;
		overflow-y:scroll;
	}
	.article{
		align-items:center;
		display:flex;
		margin:0 0 18px 0;
		padding:12px;
		background:#fff;
		box-shadow:0 2px 6px rgba(#000, .06);
		.thumb{
			width:240px;
			min-width:240px;
			max-width:240px;
			height:210px;
			img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.details{
			margin:0 0 0 30px;
			// min-width:50%;
			flex-grow:1;
			// max-width:60%;
			width:auto;
			.date{
				font-size:12px;
				font-family: $body_font;
				margin-bottom:6px;
				display: block;
				clear:both;
			}
			.article-title{
				font-family: $body_font;
				font-size:18px;
				font-weight:bold;
				// letter-spacing: 1px;
				line-height:24px;
			}
			p{
				margin-top:12px;
				display: block;
			}

		}
		.outline-btn{
			// width:180px;
			// min-width:180px;
			display:inline-block;
			height:auto;
			white-space: nowrap;
			margin-left:auto;
			margin-top:18px;

		}
	}
	&.recent-articles{
		.article{	
			align-items:center;	
			.thumb{
				width:210px;
				min-width:210px;
				max-width:210px;
				height:180px;
			}
		}
		@media(max-width:768px){
			display:flex;
			flex-wrap:wrap;
			.article{
				width:45%;
				max-width:49%;
				margin:0 9px;
				.thumb{
					width:100%;
					max-width:100%;
					min-width: 100%;
				}				
			}
		}
		@media(max-width:600px){
			display:block;
			.article{
				width:100%;
				max-width:100%;
				margin:0;
				.thumb{
					width:100%;
					max-width:100%;
					min-width: 100%;
					height: auto;

				}
			}
		}
	}
	@media (max-width: 1024px) {
		.article{
			.thumb{
				width:180px;
				min-width:180px;
				max-width:180px;
				min-height:150px;
				height:150px;
			}
			.details{
				max-width: 50%;
				width: 50%;
			}
		}
	}

	@media (max-width: 1000px) {
		.article{
			flex-wrap:wrap;
			// .thumb{
			// 	width:100%;
			// 	max-width:100%;
			// 	height:auto;
			// }
			// .thumb{
			// 	width:180px;
			// 	min-width:180px;
			// 	max-width:180px;
			// 	min-height:150px;
			// 	height:150px;
			// }
			.details{
				max-width: 60%;
				width: auto;				
			}
			.outline-btn{
				clear:both;				
			    margin-left: 0;
			    margin-top: 18px;
			    margin-bottom:30px;
			}
		}
	}
	@media (max-width:768px){
		.articles{

		}
		.article{
			.thumb{
				width:100%;
				max-width:100%;				
				width: 100%;
				max-width: 100%; 
				height: auto;
			}
			.details{
				margin:12px 0 0 0;
				width:100%;
				max-width:100%;
			}
		}
	}
}

.recent-articles.articles{

}

.extended-content{
	background:#fafafb;
	.divider-image{
		width:1340px;
		margin:42px auto 0;
		height:480px;
		position:relative;
		left:-66px;
		z-index: 3;
		right:0;
		img{
			width:100%;
			height: 100%;
			object-fit: cover;
			object-position: center center; 
		}
	}
	.text-content-area{
		background:#fff;
		position:relative;
		z-index: 9;
		padding:60px;
		top:-60px;
		width:100%;
		box-shadow: 0 3px 9px rgba(#000, .06);
	}
	.line-sep{
		width:84%;
		margin:0 auto;
		text-align:center;
		font-size:34px;
		line-height:42px;
		position:relative;
		&:before{
			display:block;
			width:80px;
			height:80px;
			color:#fff;
			text-shadow: 0px 0px 2px darken($orange, 5);
		    font-size: 120px;
		    line-height: 120px;
			position:absolute;
			left:-120px;
			top:0;
			bottom:0;			
			margin: auto;			
			content:"\201C";
		}
		&:after{
			display:block;
			// width:120px;
			// height:2px;
			width:auto;
			width:80px;
			height:80px;
			text-shadow: 0px 0px 2px darken($orange, 5);
		    font-size: 120px;
		    line-height: 120px;
			// background:#222;
			color:#fff;
			// text-shadow: 2px 2px $orange;
			position:absolute;
			right:-100px;
			top:0;
			bottom:0;			
			margin: auto;
			content:"\201D";
		}
		@media(max-width:768px){
			&:before, &:after{
				display: none;
			}
		}
	}

	.color-sep{
		display:block;
		width:120px;
		height:2px;
		clear:both;
		margin-left: auto;
		margin-right: auto;
		background:$orange;
	}	
	@media(max-width:1400px){
		.divider-image{
			width:1240px;
		}
	}

	@media(max-width:1300px){
		.divider-image{
			width:1040px;
			height:390px;
			left:0;
		}
	}

	@media(max-width:1100px){
		.divider-image{
			width:100%;
			left:0;
			height:360px;
		}
	}
	@media(max-width:768px){
		.divider-image{
			width:100%;
			left:0;
			height:auto;
		}
	}
	@media(max-width:690px){
		h1{
			font-size:42px;
			line-height:48px;
		}
		.text-content-area{
			padding:15px;
			top:0;
			h4, h3, h2 {
				font-size:30px;
				line-height:36px;
			}
		}
		.line-sep{
			font-size:24px;
			line-height:30px;
		}
	}
}

.modern-browser-img{
	height:48px;
	width:auto;
	margin:12px auto 0;
	img{
		height:100%;
		width:auto;
		margin:0 auto;
	}
}

.modal{
	
	.close{
		display:none;
		position:absolute;
		top:0;
		right:0;
		background:#111;
		width:20px;
		height:20px;	
		align-items:center;
		justify-content: center;
		a{
			color:#fff;
			font-size:15px;
		}
	}
	.iziModal-content{
		position:relative;
		.close{
			display:flex;
		}
	}
}

body.ie{
	.small-float{
		animation:none !important;		
	}

	.float-delay{
		animation:none !important;
	}

	.item-float{
		animation:none !important;
	}

	.portfolio-block .portfolio-items ul{
		display:flex;
		width:100%;
		flex-wrap:wrap;
		li{
			    max-width: 30%;
			    margin: 0 1.5%;
			    width: 30%;
			    margin-bottom:36px;
			    top:0 !important;
			    .image{
			    	height:auto;
			    	width:100%;
			    	max-width:100%;
			    	img{
			    		width:100%;
			    		height:auto;
			    	}
			    }
			   &:hover{
					position:relative;
					transform: translateY(0px);
					transition:transform 0s ease-in;
				}
		}
	}
	@media(max-width:1180px){
		.portfolio-block .portfolio-items ul{
			
			li{
				    max-width: 48%;
				    margin: 0 1%;
				    width: 48%;
				    margin-bottom:30px;
				    top:0 !important;
				    .image{
				    	height:auto;
				    	width:100%;
				    	max-width:100%;
				    	img{
				    		width:100%;
				    		height:auto;
				    	}
				    }
			}
		}
	}
	.header .nav-trigger .icon:before{
		margin:2px 9px 4px auto;
	}
	.portfolio-page{
		.intro-area{
			padding-top:12vw;
		}
	}
}

.portfolio-page{
	.project-info{

	}
	@media(max-width:1024px){
		.portfolio-block .portfolio-items.items-xl ul li .project-info{
			position: relative;
		}		
		.portfolio-block .portfolio-items.items-xl ul li{
			height:300px;
			overflow: hidden;
			.project-info{
				height:100%;
				background:$theme_blue;
			}
		}
		.portfolio-block .portfolio-items.items-xl ul li .image{
			height:300px;
			overflow: hidden;
		}
	}
	@media(max-width:690px){
		
		.portfolio-block .portfolio-items.items-xl ul li{
			height:auto;
			overflow: hidden;			
			 .project-info{
			 	height:auto !important;
			 }
		}
		
	}
}
