.campaigns-page{
	background:#f8f8fb;
	.top-section{
		padding:180px 0 30px;
		background-color:#f8f8fb;
		// padding: 2.25em 1.6875em;
	  	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
	  	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
	  	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
	  	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
	  	-webkit-background-size: 3px 3px;
	  	-moz-background-size: 3px 3px;
	  	background-size: 3px 3px;
	  	position:relative;
	  	z-index: 1;
	  	&:after{
	  		background-image:linear-gradient(to top, rgba(#f8f8fb, 1), rgba(#f8f8fb, 0));
	  		z-index: 2;
	  		position:absolute;
	  		width:100%;
	  		height:100%;
	  		content:"";
	  		top:0;
	  		left:0;
	  	}
	  	.container{
	  		position: relative;
	  		z-index: 3;
	  	}
	  	
	}
	.package-tiles-section{
		background-color:#f8f8fb;
		padding-top:30px;
	}

	.switches{
	  		width:540px;
	  		margin:0 auto;
	  		border:1px solid #e0e0e0;
	  		display: flex;
	  		margin-bottom:48px;
			.switch{
				background:#fff;
				padding:9px 0px;
				display: inline-block;
				width: 180px;
				flex-grow:1;
				text-align: center;
				border-left:1px solid #e0e0e0;				
				&:first-child{
					border:0;
				}
				&.active{
					background:$base_accent;
					color:#fff;
				}
			}
	  	}
}

.package-titles{
	display: flex;
	justify-content: center;
	align-items:flex-start;
	display: none;
	&.active{
		display: flex;
	}
	.package-item{
		background:#fff;
		padding:18px;
		box-shadow:0 4px 12px rgba(#000, .1);
		// width:390px;
		// max-width:390px;
		// min-width:390px;

		width:auto;
		max-width:300px;
		margin:0 18px;
		flex-grow:1;
		height:auto;
		// min-width:390px;

		text-align:center;
		.item-title{
			font-family:$body_font;
			font-size:22px;
			line-height:24px;
			font-weight:600;
			margin-bottom:6px;
			display: block;
			padding-top:12px;
		}
		.monthly-cost{
			font-size:15px;
			font-family:$body_font;
			display: block;
			margin-bottom:24px;			
		}
		.item-section{
			display: block;
			margin-bottom:42px;
			&:last-of-type{
				margin-bottom:0;
			}
			h4{
				font-family:$body_font;
				font-size:18px;
				line-height:24px;
				font-weight:500;
				display: block;
				margin-bottom:18px;
			}
			.item-row{
				border-top:1px solid #e0e0e0;
				padding:12px 0;
				display: flex;
				justify-content: center;
				position:relative;
				span{
					font-size:15px;
					&.count{
						margin-left:auto;
						margin-right:6px;
					}
					&.info-icon{
						margin-left:0;
						margin-right:12px;
						font-size:13px;
					}
					&.info-details{
						position:absolute;
						width:180px;
						display: none;
						right:6px;
						bottom:42px;
						background:#fff;
						padding:12px 18px;
						font-size:13px;
						// border:1px solid #e0e0e0;
						box-shadow:0 6px 18px rgba(#000, .06);
						&.active{
							display: block;
						}
					}
				}
				&.active{
					span:first-child{
						color:$base_accent;
					}
					span.info-details{
						display: block;
					}
				}				
			}
			.more-information{
				background:$base_color;
				color:#fff;
				padding:9px 0;
				text-align:center;
				display: block;
				width: 100%;
				font-weight:bold;
				margin-top:24px;
				margin-bottom:0;
			}
		}
	}
}