.hero{
	// height:50vh;
	height:720px;
	max-height:72vh;
	width: 100%;
	background:#1e1e1e;
	position:relative;
	z-index: 1;
	top:0;
	left:0;
	overflow: hidden;

	&.dark{
		// background:$text_dark;
		// &:after{
		// 	z-index: 2;
		// 	background-image:linear-gradient(rgba(#fff, .9), rgba(#fff, 0), rgba(#fff, 1));			
		// 	content:'';
		// 	position:absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	bottom:0;
		// 	left: 0;
		// }
	}
	&.small{
		height:48vh;
		min-height:480px;
	}
	&.medium{
		height:60vh;
		min-height:600px;
	}

	h1, h2, h3, h4, h5{
		text-shadow:0 2px 4px rgba(#000, .1);
	}
	
	.background-image{
		width:100%;
		height:100%;
		position:relative;
		display:block;
		background-color:$base_dark; 
		z-index: 1;
		img{
			z-index: 1;
			width:100%;
			height:100%;
			object-fit:cover;
		}
		// &:before{
		// 	content:"";
		// 	width:100%;
		// 	height:100%;
		// 	left:0;
		// 	top:0;
		// 	background:$base_dark;
		// 	position:absolute;
		// 	z-index: 3;
		// }
		// &:after{
		// 	content:"";
		// 	width:100%;
		// 	height:100%;
		// 	left:0;
		// 	top:0;			
		// 	position:absolute;
		// 	z-index: 2;
		// 	background-image:linear-gradient(rgba(#000, .333), rgba(#000, 0));
		// }

		// @for $i from 0 through 100 {
		// 	$size: $i;
	 //      	&.opacity-#{$size} {         
	 //        	&:before{
	 //        		 opacity:$size/100;
	 //        	}
	 //      	}
		// }

	}
	
	.content{
		position:absolute;
		z-index: 6;
		left:0;
		top:0;
		width:100%;
		height:100%;
		display:flex;
		align-items:center;
		margin-top:30px;
		.container{
			text-align:center;
			h1{
				color:#fff;							
				@include max-breakpoint(m){
					br{
						display:none;
					}
				}
			}
			.buttons{
				// margin-top:42px;
			}
		}
	}
	&.dark{
		background-color:$base_dark;
	}
	&.light{
		background:$base_gray;
		&:after{
			z-index: 2;
			background-image:linear-gradient(rgba($base_gray, .9), rgba($base_gray, 0), rgba($base_gray, 1));			
			content:'';
			position:absolute;
			width: 100%;
			height: 100%;
			bottom:0;
			left: 0;
		}
		.content{
			.container{
				h1, h2, h3, p{
					color:$text_dark;
					text-shadow: 0 0 0 rgba(#000, 0);
				}
			}
		}		
	}
	&.bottom-gradient{
		background:$base_color;
		&:after{
			z-index: 2;
			background-image:linear-gradient(rgba(#fff, 0), rgba(#fff, .25), rgba(#fff, 1));			
			content:'';
			position:absolute;
			width: 100%;
			height: 100%;
			bottom:0;
			left: 0;
		}
		.content{
			.container{
				h1, h2, h3, p{
					color:#fff;
					text-shadow: 0 2px 4px rgba(#000, .1);
				}
			}
		}		
	}
	.hero-content{
		p{
			font-size:18px;
			line-height:30px;
		}		
	}
	@include max-breakpoint('m'){
		min-height:660px;
		max-height:100%;
	}
	@include max-breakpoint('mobile'){
		height:540px;
		min-height:540px;
		max-height:540px;
		&.how-it-works{
			height:540px;
			min-height:540px;
			max-height:540px;
		}
		&.small{
			height:570px;
			min-height:570px;
			max-height:570px;
		}
	}
}

body.secondary{
	.hero{
		.content{
			margin-top:0;
		}
	}
}