$base_color: #455A64;
$base_accent: #009688;

//$light_color: #F4F4F9;
$light_color:#CFD8DC;
$light_accent: #607D8B;

$dark_blue: #1C3669;	

$light_border_color: #eee;	

$text_color: #212121;
$text_gray: #757575;

//$heading_font: "tenez", serif;
$heading_font: "kepler-std", serif;
// $heading_font: 'Libre Baskerville', serif;

//$body_font:   "effra", sans-serif;
$body_font: "Poppins", sans-serif;
// $body_font: "Work Sans", sans-serif;

//$italic_font: "adobe-garamond-pro", serif; 
$italic_font: 'Libre Baskerville', serif;

$theme_blue: rgba(51,94,172,1);
$theme_orange: rgba(235, 105, 85, 1);
$theme_green: rgba(66, 169, 113, 1);
$theme_light: rgba(206,214,224,1);

$pn_blue_gradient: linear-gradient(to right, #72BCFF, #3D82F0);
$pn_blue_gradient_b: linear-gradient(to bottom left, #72BCFF, #3D82F0);
$pn_blue_gradient_o: linear-gradient(to right, rgba(#72BCFF, .5), rgba(#3D82F0, .5));
$theme_color: #079992;


h1, h2, h3, h4, h5{
	font-family:$heading_font;
}

h1{
	font-size:42px;
}

h2,h3 {
	font-size:36px;
}

a, p{
	font-family: $body_font;
	font-weight:300;
}

.strong{
	font-weight:bold;
}

p{
	font-size:16px;
	// text-align: justify;
	letter-spacing:0;
}

body{
	// padding-top:72px;
}

ul{
	margin:0;
	padding:0;
	list-style-type:none;
	li{
		margin:0;
		padding:0;
		list-style-type:none;
	}
}

.body-text{
	p{
		margin-bottom:18px;
		display:block;
		line-height:24px;
	}
}

.text-shadow{
	text-shadow:0 2px 4px rgba(#000, .09); 
}

.link-text{
    font-family: $italic_font;
    font-size:20px;   
    text-transform:capitalize;
    font-weight:400;        
    color:#fff;
    // padding:15px 18px;
    padding:0px 12px 0 0px;
    display:inline-block;
    position:relative;
    z-index: 2;
    text-shadow:0, 0,0, rgba(#000,0);
    &:after{
      content:"";
      position:absolute;
      width:0%;
      left:-6px;
      bottom:0;
      z-index: -1;
      background:rgba(#fff, .35);
      height:3px;
      transition:all .2s ease-in;
    }
    &:hover{
      // color:$theme_green;      
      color:#fff;            
      text-shadow:0, 0,0, rgba(#000,0);
      transition:all .2s ease-in;
      &:after{
        content:"";
        position:absolute;
        width:100%;
        left:-6px;
        bottom:0;
        background:rgba(#fff, .35);
        height:3px;
        transition:all .2s ease-in;
      }
    }
    &.blue{
      color:$theme_blue;
      &:hover{
        color:$theme_blue;
      }
      &:after{
        background:rgba($theme_blue, .35);
      }
    }
    &.link-green{
      color:#212121;
      &:hover{
        color:$theme_green;
      }
      &:after{
        background:rgba($theme_green, .35);
      }
    }
    &.orange{
      &:hover{
        color:#fff;
      }
    }
    &.dark{
      color:#414141;      
      &:after{
        background:rgba($theme_green, .35);
      }
      &:hover{
        color:$theme_green;
      }
    }
    &.large{
      font-size:24px;
      line-height:24px;
    }
    &.xl{
      font-size:30px;
      line-height:30px;
    }
}



.italic{
	font-style:italic;
	font-family:$italic_font;	
	font-weight:400;
}

.page-title{
	font-size:45px;
	line-height:50px;
	.italic{
		font-size:42px;
		line-height:42px;
	}
}

header.header{
	width:100%;
	position:fixed;	
	height:72px;
	left:0;
	top:0;	
	display:flex;
	z-index: 999;
	align-items:center;
	background-image:linear-gradient(to bottom left, rgba(#000, .39), rgba(#000, .1), rgba(#000, 0), rgba(#000, 0));
	.back{
		position:absolute;		
		background-image:linear-gradient(to right, rgba(#72BCFF, 1), rgba(#3D82F0, 1));
		left:0;
		top:0;
		height:100%;
		width:100%;
		z-index: 0;
		display:block;
		opacity:0;		
	}
	&.scrolled{
		background:$pn_blue_gradient;
	}
	.logo{
		height:auto;
		width:240px;
		display:block;
		margin-left:24px;
		position: relative;
		z-index: 2;
		amp-img, img{
			width:100%;
			display:block;
			height:auto;
			img{
				width:100%;
				height:auto;
			}
		}
	}
	.mobile_trigger{
		margin-left:auto;
		z-index: 999999;
  		margin-right:24px;
  		display:block;
  		height:30px;

	}
}



.button-margin{
	margin-top:24px;
	display:block;
} 

.proper-btn{
	padding:18px 18px;
	display:inline-block;
	border-radius:2px;
	overflow: hidden;
	text-transform:uppercase;
	font-family:$body_font;
	outline:0;
	font-weight:500;
	text-decoration: none;
	font-size:15px;
	letter-spacing:.5px;
	border:0;
	position:relative;
	
	&.white{
		background:#fafafb;
		color:$base_color;
	}

	&.blue{
		background-image:$pn_blue_gradient;
		color:#fff;
	}
	&.primary{
		// background:$theme_color;
		background-image:$pn_blue_gradient;
		color:#fff;
	}
	&.dark_blue{
		background:rgba(52,73,94, 1);
		color:$theme_light;
	}
	&.fluid{
		width:100%;
		padding:18px 0;
		text-align:center;
	}
	&:hover{
		&:before{
			animation: proper_btn_hover;
			animation-fill-mode: forwards;
			animation-delay:.1s;
			animation-duration: 1s;
		}	
	}
}

.buttons{
  &.center{
    text-align:center;
    a,button{
      margin:0 6px;
      font-weight:300;  
    }
  }
}

.section{
	min-height:100vh;
	display:flex;
	align-items:center;
	justify-content: center;
	border-bottom:1px solid #eee;
	text-align: center;
	padding:60px 0;
	&.auto-height{
		height:auto;
		padding:0px 0 30px;
		min-height:0;
	}
	&.no-pad{
		padding:0;
	}
	&.first-section{
		min-height:100vh;
	}
	// .contents{
	// 	padding:42px 0;
	// 	width:90%;
	// 	margin:0 auto;
	// }
	&.light{
		background:#f8f8fb;
	}
}

p{
	a{
		color:$theme_blue;
	}
}

.section-title{
	font-size:40px;
	line-height:48px;	
	margin:0 0 24px;
	.italic{
		font-size:36px;
		font-weight:400;
		line-height:36px;
		color:$theme_blue;
		display:block;
		// text-decoration: 
	}
	&.text-white{
		&:after{
			background:#fff;
		}
	}
	&:after{
		display:block;
		width:90px;
		height:1px;
		content:"";
		overflow: hidden;
		background:#111;
		clear:both;
		margin:48px auto 30px;
	}
}

.section-title-med{
	font-size:36px;
	line-height:42px;
	margin:0 0 24px;
	display:block;
	.italic{
		font-size:36px;
		display:block;
		font-weight:400;
		color:$theme_blue;
		// text-decoration: 
	}
}

.subheading{
	font-size:24px;
	font-family:$italic_font;
	line-height:30px;	
	font-style:italic;
	font-weight:500;
	margin-bottom: 12px;
	&.text-white{
		&:after{
			background:rgba(#fff, 1);
			// color:#fff;
		}
	}
	&:after{
		display:block;
		width:90px;
		height:1px;
		content:"";
		overflow: hidden;
		background:#111;
		clear:both;
		margin:30px auto 30px;
	}
	&.left{
		&:after{
			margin:18px auto 18px 0;		
		}
	}
	&.__large{
		font-size:24px;
	}
	&.no-line{
		&:after{
			display:none;
		}
	}
}

.subheading-s{
	font-size:20px;
	// font-family:$italic_font;
	line-height:30px;	
	font-weight:300;
	margin-bottom: 12px;
	&.text-white{
			
	}	
}

.mobile_links{
	position:fixed;
	padding-top:72px;
	left:-100%;
	width:100%;
	height:calc(100% - 72px);
	//background:#fff;
	background-image:$pn_blue_gradient;
	z-index: 9;
	transition:all .2s ease-in;
	&.active{
		transition:all .2s ease-in;
		left:0%;
	}
	ul{
		padding:0 24px;
		overflow: hidden;
		overflow-y: scroll;
		height:100%;
		li{
			border-bottom:1px solid rgba(#fff, .25);
			&:last-child{
				border-bottom:0px solid rgba(#fff, .5);
			}
			a{				
				display:block;
				padding:15px 6px;
				color:#fff;
				font-size:16px;
				text-decoration: none;				
				font-weight:500;				
				letter-spacing: .5px;
				&:after{
					content:"\2192";
					float:right;
					display:block;
				}
			}
		}
	}
}

.center{
	text-align:center;
}

.container{
	width:84%;
	padding:42px 0;
	margin:0 auto;
	&.no-pad{
		padding:0;
	}
}

.mobile_toggle_menu{
  display: block;
  margin-left:auto;
  padding:0;
  margin:0;
  width: 32px;
  height: 30px;
  margin-top: 0px;  
  span:after, span:before{
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
  } 
    

  span:after{
    top: 18px;
  }

  span{ 
    position: relative;
    display: block;
  }

  span, span:after, span:before{
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

  &.on span{ 
    background-color: transparent;
  }
  &.on span:before{
    transform: rotate(45deg) translate(-1px, 0px);
  }

  &.on span:after{ 
    transform: rotate(-45deg) translate(6px, -7px);
  }
} 
  
.mobile_toggle_menu{
	display:block;
}

.text-white{
	color:#fff;
}

.topmargin{
	margin-top:30px;
}
.bottommargin{
	margin-bottom:30px;
}

.toppad{
	padding-top:30px;
}
.bottompad{
	padding-bottom:30px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 27px;
  height: 52px;
  margin-left: -20px;
  top: 10%;
  margin-top: 0px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: -4px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

.down-indi{
	position:relative;
	height:80px;
	display:block;
	text-align:center;
	margin-top:18px;
	overflow: hidden;
	margin-top:auto;
	.icon-scroll{
		opacity:.4;
	}
	p{
		color:#fff;								
		font-size:18px;
		line-height:24px;
		margin:0 auto;
		margin-top:24px;
		display:block;
		width:800px;				
		max-width:85%;
	}	
}

//Pages 

////Home
.home{
	.download-deck{
		margin-bottom:6px;
	}
	.first-section{
		position:relative;
		z-index: 1;
		.icon-scroll{

		}
		
		.video-bg{
			z-index: 2;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			background-image:url('https://res.cloudinary.com/propernoun/image/upload/q_auto:good,f_auto/w_1024/office-crave-bg-4_ebelb9.jpg');
			background-size:cover;
			video, amp-video{
				width:100%;
				height:100%;
				object-fit: cover; 
			}
			&:before{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index: 3;
				content:"";
				opacity:.5;
				background-image:$pn_blue_gradient_b;
			}
		}
		.container{
			position:relative;
			z-index: 4;
			height:calc(100vh - 148px);
			.title-area{
				height:100%;
				display:flex;
				flex-direction:column;
				justify-content: center;
				align-items: center;
				.page-title{
					margin-top:auto;
				}
			}
		}
	}
	.second-section{
		padding-top:30px;
	}
	.strategic-process{
		background-image:url('https://res.cloudinary.com/propernoun/image/upload/v1549947407/mobile-contact-sec-bg.jpg');
		background-size:cover;
		background-position:center;
		padding:30px 0 0;
	}
	.work-grid{
		padding-bottom:0px;
	}
	.build_brand_awareness{
		background-image:url('https://res.cloudinary.com/propernoun/image/upload/w_1024/office-crave-bg-4_ebelb9.jpg');
		background-size:cover;
		background-attachment: fixed;
		position:relative;
		z-index:1;		
		padding-top:30px;
		&:before{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			content:"";
			z-index: 2;
			background:rgba(#e84393, .66);			
		}
		.container{
			position:relative;
			z-index: 3;
		}
		h2, h3, p {
			color:#fff;
		}
		p{
			margin-bottom:60px;
			display:block;
		}
	}
	.branding{
		padding-top:30px;
		// padding:30px 0;

	}
	.dream-develop{
		padding:24px 0;
	}
	.home-blog{
		.page-title{
			margin:0 0 18px 0;
		}
	}
}

.contact-section-block{	
	padding-top:24px;	
	background-image:url('https://res.cloudinary.com/propernoun/image/upload/v1549947407/mobile-contact-sec-bg.jpg');
	background-size:cover;
	.contact-items{
		.office, .phone, .email, .social{
			margin-top:12px;
			p{
				margin:0;
			}
		}
	}
}

.articles{
	.article{
		background:#fff;
		box-shadow: 0 2px 4px rgba(#000, .06);
		overflow: hidden;
		display:block;
		margin-bottom:18px;
		amp-img, img{
			width:100%;
			height:240px;
			object-fit: cover;
		}
		.content{
			padding:18px;
			margin-bottom:24px;
			.article-title{
				font-size:20px;
				font-weight:bold;
				color:#222;
				margin-bottom:3px;
				text-decoration:none;
			}
		}
	}
}

.work-grid{	
	ul{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		overflow: hidden;
		width:100%;
		li{
			display:block;
			overflow: hidden;
			min-width:50%;
			max-width:100%;
			a{
				display:block;
				width:100%;
				height:100%;
				img, amp-img{
					object-fit:cover;
					width:100%;
					height:100%; 
				}
			}
		}
		@media(max-width:320px){
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.single-service{
	display: block;

	.first-section{
		background-image:url('https://res.cloudinary.com/propernoun/image/upload/v1549947407/mobile-contact-sec-bg.jpg');
		position:relative;
		&:before{
			background-image:$pn_blue_gradient_b;
			z-index: 3;
			width: 100%;
			height:100%;
			position: absolute;
			left:0;
			top:0;
			content:"";
			opacity:.5;			
		}
		.container{
			position:relative;
			z-index: 4;
		}
	}	
	.contact-section-block{
		p{
			color:#fff;
		}
		.buttons{
			margin-top:30px;
		}
	}
	.responsive-img{
		width:100%;
		height:600px;
		display: block;
		clear:both;
		position:relative;
		overflow: hidden;
		amp-img, img{
			width:100%;
			object-fit:cover;
			height:100%;
			position:relative;
		}
	}
}


.portfolio-page{
	.intro-area{
		height:90vh;
		background-image:$pn_blue_gradient_b;
		display:flex;
		align-items:center;
	}
}

.portfolio-items{
	overflow: hidden;
	display:block;	
	position:relative;
	z-index: 1;
	
	.featured-case-study{
		text-align:center;
		background-size:cover;
		background-attachment:fixed;
		padding:90px 0;
		&:before{
			position:absolute;
			z-index: 2;
			background:rgba(#000, .6);
			left:0;
			top:0;
			width:100%;
			height:100%;
			content:"";
		}	
		.contents{
			width:90%;
			margin:0 auto;
			position:relative;
			z-index: 3;
		}
		h2, h3, p {
			color:#fff;
		}
		h2{
			font-size:42px;
		}
		.case-study-pre-head{
			color:#fff;
			font-size:22px;
			font-style:italic;
			font-family: $italic_font;
		}
	}	
	.item{
		position:relative;
		height:30vh;
		width:50%;
		float:left;
		&:nth-child(3n + 3){
			width:100%;
			clear:both;
		}
		a{
			height:100%;
			display:block;
			position:relative;
			z-index: 1;
			width:100%;
			img, amp-img{
				width:100%;
				height:100%;
				object-fit:cover;
				position:relative;
				z-index: 1;
				// i-amphtml-sizer{
				// 	position:absolute;
				// }
			}
			&:before{
				position:absolute;
				z-index: 2;
				background-image:linear-gradient( to bottom, rgba(#000, 0), rgba(#000, 0), rgba(#000, .5));
				width:100%;
				height:100%;
				left:0;
				top:0;
				content:'';
			}
			.project-title{
				position:absolute;
				z-index: 3;
				width:100%;
				height:100%;
				left:0;
				top:0;
				display:flex;
				align-items:center;
				justify-content: center;
				text-align:center;
				h3{
					font-size:18px;

				}
				p{
					margin-top:auto;
					margin-bottom:12px;
					text-transform:uppercase;
					font-weight:500;
					font-size:14px;
					text-shadow:0 2px 5px rgba(#000, .06);
				}
				h3, p{
					color:#fff;
				}				
			}
		}
	}
}

.single-portfolio{
	display: block;
	overflow: hidden;
	clear: both;
	top:0;
	.responsive-img{
		width:100%;
		height:600px;
		display: block;
		clear:both;
		position:relative;
		overflow: hidden;
		z-index:1;
		&:before{
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			z-index: 3;
			background:rgba(#000, .3);
			content:"";
		}
		amp-img, img{
			width:100%;
			object-fit:cover;
			height:100%;
			position:relative;
			z-index: 2;
		}
	}
	.first-section{
		position:relative;
		z-index: 1;
		width:100%;
		overflow: hidden;
		display: block;
		height:100vh;
		
		.background-image{
			width:100%;
			position:absolute;
			z-index: 2;
			top:0;
			left:0;
			height:100%;
			img, amp-img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
			&:before{
				background-image:$pn_blue_gradient_b;
				z-index: 3;
				width: 100%;
				height:100%;
				position: absolute;
				left:0;
				top:0;
				content:"";
				opacity:.5;			
			}
		}
		.container{
			position:relative;
			z-index: 4;			
			display: flex;
			align-items:center;
			height:100%;
			.title{
				text-align:center;
				width:100%;
				h1, a{
					color:#fff;
				}
				h1{
					line-height:42px;					
					font-weight:400;
				}
				a{
					display:block;
					clear:both;
					padding:6px 0;
					margin-bottom:6px;
				}
			}
		}
	}
	.deliverables-and-work{
		padding-top:0px;
	}
	.project-details{
		.project-img{
			width:100%;
			height:100vh;
			overflow: hidden;
			position:relative;
			margin-bottom:24px;
			display:block;
			amp-img, img{
				width:100%;
				height:100%;
				object-fit:cover;
				position:relative;
			}
		}
	}
	.deliverables, .the-work{
		text-align: left;
		a, p{
			display:block;
			color:#333;
			padding:0;
			margin:0 0 12px 0;

			&:before{
				float:left;
				content: "\276F";
				margin-right:6px;
			}
		}
	}
	.mobile-img-split{
		width:100%;
		height: auto;
		display:block;
		overflow: hidden;
		img{
			width:100%;
			height:auto;
		}
	}
	.img{
		width:100%;
		display:block;
		clear:both;
		overflow: hidden;
		margin-bottom:24px;
		img, amp-img{
			width:100%;
			height:100%;
			object-fit: cover;
		}
	}
}

.contact-page{
	.video{
		position:fixed;
		width:100%;
		height:100%;
		top:0;
		left:0;
		z-index: 1;		

		amp-video, video{
			width:100%;
			object-fit: cover;
			height:100%;
		}
		&:before{
			content:"";
			width:100%;
			height:100%;
			background:rgba(#000, .5);
			left:0;
			top:0;
			position:absolute;
			z-index: 2;
		}
	}
	.content-area{
		position:relative;
		z-index: 3;
		text-align:center;
		padding:90px 0;
		background-image:url('https://res.cloudinary.com/propernoun/image/upload/v1549947407/mobile-contact-sec-bg.jpg');
		background-size:cover;
		h1, h2, h3, h4, p, a {
			color:#fff;
		}
		p{
			margin:0;
		}
		.topmargin-3{
			margin-top:18px;
		}
		.topmargin-5{
			margin-top:30px;
		}
		.topmargin-2{
			margin-top:12px;
		}
	}
}

.services{
	.first-section{
		border:0;
		background-position: center center;
		background-size:100% auto;		
	    padding: 0 0 0;
	    height:50vh;
	    min-height:50vh;
	    background-repeat: no-repeat;	    
	    display: flex;	    
	    align-items: center;	   
	}
	.services-hero{
		border:0;
		padding-bottom:60px;
    	background-image:$pn_blue_gradient;
    }
    .services-section{
    	.services-grid{
    		width:100%;
    		display:block;
    		.row{
    			position:relative;
    			height:auto;

    			overflow: hidden;
    			display: block;
    			.responsive-img{
    				position:relative;
    				width:100%;
    				height:auto;
    				display: block;
    				z-index: 1;
    				height:90vh;
    				min-height:84vh;
    				overflow: hidden;
    				img, amp-img{
    					vertical-align: bottom;
    					position:relative;
    					height:100%;
    					width:100%;
    					object-fit: cover;
    					z-index: 1;
    					
    				}
    				&:before{
    					content:"";
    					width:100%;
    					height:100%;
    					position:absolute;
    					z-index: 2;
    					left:0;
    					top:0;    					
    				}    				
    			}
    			&:nth-child(even){
    				.responsive-img{
    					&:before{
	    					background-color:rgba(#000, .5);
	    				}						
    				}    				
				}
				&:nth-child(odd){
					.responsive-img{
						&:before{
							background-image:$pn_blue_gradient_b;
							opacity:.6;
						}				
					}	
				}
				&:nth-child(2n + 3){
					.responsive-img{
						&:before{
							background-color:rgba($theme_green, .5);
						}				
					}	
				}
    			.item-text{
    				position:absolute;
    				z-index: 3;
    				width:90%;
    				top:0;
    				bottom:0;
    				height:100%;
    				display:flex;
    				align-items:center;
    				justify-content: center;
    				margin:auto;
    				left:0;
    				right:0;
    				h2, p {
    					color:#fff;
    				}
    			}
    		}
    	}
    }
}

.about-mobile-contain{
	.first-section{
		border:0;
		width:100%;
		height:100vh;
		top:0;
		background-size:cover;
		z-index: 1;
		position:relative;
		&:before{
			background-image:$pn_blue_gradient_b;
			opacity:.7;
			left:0;
			content:"";
			top:0;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			z-index: 2;
		}
		.container{
			position:relative;
			z-index: 3;
		}
		h1, h2, h3, p {
			color:#fff;
			text-shadow:0 3px 6px rgba(#000, .06);
		}
	}
	.about-blocks{
		padding:60px 0 0;
		.about-block{			
			margin-bottom:60px;
			h3{
				&:after{
					margin:30px auto 24px;
				}
			}
		}
	}
	.second-section{
		background-image:$pn_blue_gradient;
		border:0;
		.info{
			width:100%;
			h3{
				position:relative;
				color:#fff;
				
				z-index: 1;
				.text{
					position:relative;
					z-index: 3;
					padding:0 6px;
					font-family:$italic_font;
					font-style:italic;
					font-weight:normal;					
				}
				
			}
		}
	}
	.team-members{		
		.people{
			width:100%;
			display:block;
			overflow: hidden;
			.person{
				width:100%;
				display:block;
				overflow: hidden;
				img, amp-img{
					width:100%;
					height:auto;
					display:block;
				}
				.content{
					display:block;
					overflow: hidden;
					padding: 24px 0;
					h3{
						margin:0;
						display:block;
					}
					p{
						display: block;
						margin: 3px 0 0 0;
					}
				}
			}
		}
	}
}
.articles-page{
	.intro-area{		
		background-image:$pn_blue_gradient_b;
	}
	.articles{
		.article{
			display:block;
			padding:30px 24px 24px;
			.date-wrap{
				display:block;
				overflow: hidden;
				padding:12px 0;
				overflow: hidden;
				border-top:1px solid #e0e0e0;
				border-bottom:1px solid #e0e0e0;
				margin:18px 0 18px;
			}
			.date-text{
				margin:0 0 3px 0;
				padding:0;
				font-size:13px;
				line-height:15px;
				display:block;
				clear:both;
			}
			h3{
				font-size:25px;
				line-height:30px;
				margin:0 0 0;
			}
		}
	}
}

.single-article{
	.top-section{
		height:auto;
		&.no-img{
			padding:60px 0 12px;
			background-image:$pn_blue_gradient_b;
			h1, p{
				color:#fff;
			}
		}
		&.with-img{
			.container{
				padding-bottom:0;
			}
		}
	}
	.date{
		p{
			font-weight:bold;
		}
	}
	.article{
		.responsive-img{
			width:100%;
			img{
				width:100%;
				height:auto;
			}
		}
	}
	.second-content.with-img{
		padding-top:0;
	}
	.hero-img{
		height:390px;
		display:block;
		overflow: hidden;
		width:100%;
		position:relative;
		img, amp-img{
			position:relative;
			width:100%;
			height:100%;
			object-fit:cover;
		}
	}
}