@import "base/variables";
@import "base/mixins";
@import "base/helpers";

@keyframes first_before {
  from {
  	width: 0%;
  }
  to {
  	width: 54%;
  }
}

@keyframes first_after {
  from {
  	width: 0%;
  }
  to {
  	width: 55%;
  }
}

.sales-lander{
	.first-section{
		padding:120px 0 120px;
		position:relative;
		overflow: visible;
		overflow: hidden;
		background:#fbfbfb;
		// background-image:$pn_blue_gradient;
		z-index: 1;
		// &:before{
		// 	position: absolute;
		// 	z-index:2;
		// 	right:0;
		// 	content:"";			
		// 	right:0;
		// 	top:0;
		// 	height: 100%;
		// 	background-color:$theme_blue;			
		// 	animation: first_before forwards 1s;			
		// 	// animation-delay: .25s;
		// }
	
		&:before{
			position: absolute;
			z-index:2;
			right:0;
			content:"";			
			right:0;
			top:0;
			bottom:0;
			margin:auto;
			height: 54%;
			background-color:$theme_blue;			
			animation: first_before forwards 1s;			
			// animation-delay: .25s;
		}
		
		&:after{
			position: absolute;
			z-index:1;
			right:0;
			content:"";			
			right:0;
			top:30px;
			bottom:0;
			margin:auto;
			height: 54%;
			background-color:darken($theme_blue, 6);			
			animation: first_after forwards 1.25s;			
			animation-delay: .25s;
		}

		// &:after{
		// 	position: absolute;
		// 	z-index:3;
		// 	right:0;
		// 	content:"";			
		// 	animation: first_after forwards 1.35s;
		// 	// animation-delay: .5s;
		// 	right:0;
		// 	top:0;
		// 	bottom: 0;
		// 	margin: auto;
		// 	height: 100%;
		// 	background-color:lighten($theme_blue, 6);
		// 	// background-color:#ececec;
		// 	box-shadow:0 12px 36px rgba(#000, .15);
		// }
		.container, .big-container{
			display: flex;
			align-items:center;
			position: relative;
			z-index: 4;
			.video{
				width:50%;
				min-width:50%;
				max-width:50%;
				// background:#fcfcfc;
				// box-shadow:0 6px 18px rgba(#000, .25);
				// border-radius:4px;
				overflow: hidden;
				margin:0;
				img{
					width:100%;
					height:auto;
				}
				iframe{
					width:100%;
					height:100%;
					min-height:450px;
					vertical-align: bottom;
					object-fit: cover;
				}
				&.laptop-bg{
					background-color:rgba(#000,0);
					box-shadow:0 0 0 rgba(#000, 0);
					width:55%;
					min-width:55%;
					max-width:55%;
					background-image:url('../images/laptop-bg.png');
					background-size:100% auto;
					background-repeat:no-repeat;
					text-align:center; 
					height:480px;
					
					.media-container{
						min-height:0;
						height: 80%;
						width:73%;
						margin:3% auto 0;
						overflow: hidden;
					}
					iframe{
						width:100%;
						height:100%;
						object-fit: cover;
					}
					img{
						width:100%;
						height:100%;
						object-fit: cover;
					}
					// iframe{
					// 	min-height:0;
					// 	height: 80%;
					// 	// margin-top:30px;
					// 	width:73%;
					// 	margin:3% auto 0;
					// }
					// img{
					// 	min-height:0;
					// 	height: 80%;
					// 	// margin-top:30px;
					// 	max-width:73%;
					// 	object-fit: cover;
					// 	margin:3% auto 0;
					// }

				}
			}
			.content{
				width:auto;
				margin-right:120px;
				display: block;
				flex-grow:1;
				// h1, h2, h3, h4, p, a{
				// 	color:#fff;
				// }
				p{
					font-size:15px;
					margin-bottom:24px;
				}

				.section-title{
					margin-bottom:30px;
					display: block;
				}				
				.actions{
					margin-top:18px;
					a{
						margin-right:12px;
					}
				}
			}
		}
		@media(max-width:1360px){
			.actions{
				display: block !important;
				a{
					clear:both;
					white-space: nowrap;
				}
			}
		}
		@media(max-width:1180px){
			&:before{
				background:rgba(#fff, .75);
				width: 100%;
				height: 100%;
				max-width:100%;
				min-width:100%;
				max-height:100%;
				z-index: 2;
			}
			.big-container .video{
				position:absolute;
				z-index: 1;
				left: 0;
				display:none;
				top:0;
				width: 100%;
				min-width:100%;
				max-width:100%;
				height: 100%;
				max-height:100%;
			}
			.content{
				position:relative;
				z-index: 5;
			}
			&:after{
				display: none;
			}	
		}
	}

	.client-sec{
		background:$theme_blue;
		padding: 30px 0;
		@media(max-width:1120px){
			display: none;
		}
	}

	.lander-bullets{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		.bullet{
			text-align: center;
			padding:48px 42px;
			display: block;		
			margin: 0 12px;
			background:#fff;
			box-shadow:0 2px 6px rgba(#000, .06);	
			// display: flex;
			// flex-direction: column;
			svg{
				width:42px;
				height:42px;
				margin-bottom:12px;
				margin-right:0px;
			}
			.text{
				font-size:18px;
				font-weight:500;
				font-family: $body_font;
				padding-top:0;
			}
			p{
				margin-top:18px;
			}
			.learn-more{
				margin-top:auto;
				display: inline-block;
			    font-size: 15px;
			    width: auto;
			    flex-grow:0;
			    line-height: 18px;
			    color: #202020;
			    font-weight: 500;
			    text-transform: capitalize;
			    border-bottom: 2px solid #a8a8a8;
			    margin-top:24px;
			    &:hover{
			    	border-color:$orange;
			    	color:$orange;
			    }
			}
		}
	}
	
	.bottom-cta{
		background-image:url('../images/develop-sec-bg.jpg');
		background-attachment:fixed;
		padding:150px 0;
		background-size:cover;
		position:relative;
		&:before{
			position:absolute;
			z-index: 2;
			content:"";
			left:0;
			top:0;
			width: 100%;
			height: 100%;
			background:rgba($base_color, .666);
		}
		.container{
			position: relative;
			z-index: 3;
		}
		h3, h3, h4, p, a {
			color:#fff;
		}
	}
	.second-section{
		background-image:radial-gradient(ellipse at top,#f0f0f0,#f8f8fb);
		.big-image.left-float, .big-image.right-float{
			padding:60px 0 0 0;
		}
		.lander-bullets{
			margin:0 6%;
			margin-top:66px;
			position:relative;
			z-index: 1;
			.bullet{
				position: relative;
				z-index: 3;
			}
			&:before{
				position: absolute;
			    left: -60px;
			    top: -40px;
			    z-index:1;
			    height: 490px;
			    width: 290px;
			    content: "";
			    background-image: url('../images/dots-bg.png');
			}
			
			.bullet{
				margin-bottom:24px;
			}
		}
	}
	.big-image{
		display: flex;
		align-items:center;
		.image{
			min-width:50%;
			max-width:50%;
			width: auto;
			flex-grow: 1;
			overflow: hidden;
			img{
				width:100%;
				height:100%;
				object-fit: cover;
			}
		}
		.content{
			width:auto;
			margin:0 60px;
			flex-grow:1;
		}
		&.left-float{
			.image{
				order:0;				
			}
			.content{
				order:1;				
			}
		}
		&.right-float{
			.image{
				order:1;				
			}
			.content{
				order:0;				
			}
		}
	}
	.page-actions{
		position:absolute;
		background:rgba($theme_blue, 1);
		z-index: 9;				
		width: 100%;
		margin-top:0px;
		bottom:0;
		text-align:center; 
		.container{
			// position:absolute;
			// bottom:-162px;
			display: flex;
			margin:0 auto;
			justify-content: center;	
			align-items:center; 		
			flex-wrap:wrap;
			width: 100%;
			left:0;
			// padding:0 -18px;
			a.action{
				margin:0 ;
				padding:18px;
				border-radius:0px;
				background:rgba($theme_blue, 1);			
				width:auto;
				display: flex;
				align-items:center;
				text-align:center;				
				transition:all .2s ease-in;	
				border-right:1px solid rgba(#fff, .25);
				&:last-child{
					border-right:0px solid rgba(#fff, .25);
				}
				// &:hover{
				// 	// background:rgba($theme_blue, 1);
				// 	transition:all .2s ease-in;
				// 	background-color:#333;
				// 	background-image:$pn_blue_gradient_full;
				// }		
				svg, path{
					stroke:#fff;
					width:15px;
					height:15px;					
					margin-bottom:0px;
					margin-right:9px;
				}
				.text{
					color:#fff;
					font-size:13px;
					line-height:13px;
					display: block;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
		}
	}
	.bg-sec{
		background-image:url('../images/develop-sec-bg.jpg');
		background-size:cover;
		padding:90px 0;
		background-attachment:fixed;
		position:relative;
		z-index: 1;
		&:before{
			position:absolute;
			// background-color:rgba($theme_turquoise, .6);
			background-image:$pn_blue_gradient_o;
			// opacity:.7;
			left:0;
			top:0;
			width:100%;
			content:"";
			height:100%;
			z-index: 2;
		}
		.container{
			position: relative;
			z-index: 4;
			h2, h3, h4, p {
				color:#fff;
			}
		}
	}
	.section{
		padding:90px 0;
		&.no-pad-top{
			padding-top:0;
		}
		&.no-pad-bottom{
			padding-bottom:0;
		}
	}
	.customer-testimonials{
		padding:90px 0;
		.content{
			background:#fff;
			padding:30px;
			box-shadow:0 2px 6px rgba(#000, .06);
			margin:0;
		}
		.image{
			height:150px;
			text-align:center;
			min-width:40%;
			max-width:40%;
			img{
				height:100%;
				width:auto;
			}
		}
	}
	@media(max-width:1000px){
		.second-section .lander-bullets{
			display: block;
		}
	}
	@media(max-width:768px){
		.section{
			padding:60px 0;
		}
		.actions{
			display: block !important;
			a{
				margin-bottom:9px;
			}
		}
		.first-section{
			text-align:center;
			&:before, &:after{
				display: none;
			}
			.big-container{
				.content{
					max-width:100%;
					width:100%;
					margin:0;
					text-align:center;
				}
				.orange-sep{
					margin:24px auto;
				}
				.video{
					display: none;
				}	
			}
			
		}
		.second-section{
			.text{
				margin-bottom:30px;
				padding: 0;
			}
			.lander-bullets{
				display: block;
				margin: 0;
				.bullet{
					width: 100%;
					display: block;
					margin-left:0;
				}
			}
		}
		.bottom-cta{
			.container{
				.row{
					display: block !important;
					.text, .col-12{
						text-align:center;						
					}					
					.text{
						padding-top:12px;
						margin-bottom:30px;
					}
				}
			}
		}
		.big-image{
			display: block;
			.image{
				display: none;
			}
		}
	}
}