button{
	border:0 ;
	outline:0;
	&.link{
		appearance:none;
		height:auto;
		padding:0;
		display:inline-block;
		background:transparent;
		text-decoration: underline;
		font-size:15px;
	}
	&.cancel{
		color:red;
		text-decoration: underline;
		margin:0 auto;
	}
}

a{
	&.link{
		appearance:none;
		height:auto;
		padding:0;
		display:inline-block;
		background:transparent;
		text-decoration: underline;
		font-size:15px;
	}
	&.cancel{
		color:red;
		text-decoration: underline;
		margin:0 auto;
		text-align:center;
	}
}
.round-btn{
	display: inline-block;
	padding:12px 24px;
	background:$base_color;
	color:#fff;
	border-radius:25px;	
	font-size:16px;
	letter-spacing: .5px;
	border:0;
	width: auto;
	flex-grow:0;
	font-family:$body_font;
	&.white{
		background:#fff;
		color:$base_color;
		text-transform: lowercase;
		font-weight:500;
	}
}

.button{
	display: inline-flex;
	align-items:center;
	border:0;
	background:$base_gray;
	appearance:none;
	height:48px;
	padding:0 15px;
	text-align:center;
	justify-content: center;
	border-radius:4px;
	font-size:14px;
	font-family:$body_font;
	color:$text_gray;
	box-shadow:0 2px 4px rgba(#000, .06);
	font-weight:600;	
	&.primary{
		background:$base_color;
		color:#fff;
	}
	&.white{
		color:$base_blue;
		background:#fff;
		box-shadow:0 2px 4px rgba(#000, .06);
	}
	&.delete{
		color:$theme_red;
		background:#fff;
		box-shadow:0 2px 4px rgba(#000, .06);
	}
	&.full-width{
		width: 100%;
		text-align:center;
		padding-left:0;
		padding-right:0;
	}
}

.arrow-btn{
	display: inline-flex;
	align-items:center;
	padding:9px 24px;
	background:$base_color;
	color:#fff;
	border-radius:3px;	
	font-size:14px;
	letter-spacing: .5px;
	&:after{
		content:"";
		// background-image:('../images/svg/');
		background-image:url('../images/svg/arrow-right-white.svg');
		width:18px;
		background-size:100% 100%;
		background-repeat: no-repeat;
		height:18px;
		margin-left:12px;
		display: inline-block;
		transition:all .2s ease-in;
		position:relative;
		left:0px;
	}	
	&:hover{
		&:after{
			transition:all .2s ease-in;
			left:4px;
		}
	}
}

.buttons{
	display: flex;
	a, button{
		margin-right:18px;
		flex-grow:1;
		width: auto;
		min-width:50%;
	}
	&.nomargin{
		a, button{
			margin:0;
			&:first-child{
				border-radius:4px 0 0 4px;
				border-right:1px solid #e0e0e0;
			}
			&:last-child{
				border-radius:0 4px 4px 0;
			}
		}

	}
	&.center{		
		justify-content: center;
		a, button{
			margin:0 9px;
		}
	}
}
// .buttons.center{
// 	text-align:center;
// }

.arrow-link{
	color:$base_color;	
	display: flex;
	align-items:center;
	@include font-size(1.6);
	&:after{
		content:"";
		// background-image:('../images/svg/');
		background-image:url('../images/svg/arrow-right-blue.svg');
		width:18px;
		background-size:100% 100%;
		background-repeat: no-repeat;
		height:18px;
		margin-left:12px;
		display: inline-block;
		position: relative;
		left:0;
		transition:all .2s ease-in;
	}	
	&:hover{
		&:after{
			transition:all .2s ease-in;
			left:4px;
		}
	}
	@include max-breakpoint('m'){
		@include font-size(2.0);
	}
}